
<%= simple_form_for(@requerimiento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="col-md-4 mb-4 justify-center">
        <%= f.input :nombre %>
        <%= f.input :monto, label: "Rut (sin puntos ni guión)" %>
        <%= f.input :planta, collection: [ "LCA", "VTS", "PTM", "PAR"] %>
        <%= f.input :solicitud, label: "Telefono" %>
        <%= f.input :otros, label: "Correo electronico" %>
        <%= f.input :observaciones, label: "Detalle requerimiento" %>


  <% if current_user&.superadmin_role? || current_user&.supervisor_role? %>
        <%= f.input :respuesta, label: "Respuesta RRHH" %>
        <%= f.input :estado, collection: [ "Abierto", "Cerrado", "Otro"] %>
  <% else %>
      <%= f.hidden_field :estado, value: "Abierto" %>
  <% end %>
  </div>

  <br>
  <div class="form-actions">
    <%= f.button :submit, "Ingresar consulta", class: "btn-primary" %>
  </div>
  <% end %>
