<p>
  <strong>Fecha:</strong>
  <%= @requerimiento.created_at %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @requerimiento.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @requerimiento.monto %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @requerimiento.phone %>
</p>

<p>
  <strong>Planta:</strong>
  <%= @requerimiento.planta %>
</p>

<p>
  <strong>Solicitud:</strong>
  <%= @requerimiento.solicitud %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @requerimiento.observaciones %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @requerimiento.respuesta %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @requerimiento.otros %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @requerimiento.estado %>
</p>
