<p id="notice"><%= notice %></p>




<h2>Recepciones</h2>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>CAS</th>
      <th>NFU</th>
      <th>Apoyo CAS</th>

    </tr>
    <tr>
      <td><%= @servicio.cas %> &nbsp;</td>
      <td><%= @servicio.nfu %> &nbsp;</td>
      <td><%= @servicio.apoyo_cas %> &nbsp;</td>
    </tr>



  </tbody>
</table>
<br>

<h2>Movimiento MMPP</h2>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>KKC B/C a P2</th>
      <th>KKA a NGP</th>
      <th>KKA a P1</th>

    </tr>
    <tr>
      <td><%= @servicio.kkbc_a_p2 %> &nbsp;</td>
      <td><%= @servicio.kka_a_ngp %> &nbsp;</td>
      <td><%= @servicio.kka_a_p1 %> &nbsp;</td>
    </tr>
     <tr>
      <th>Yeso a Silo</th>
      <th>Conchuela a BRU</th>
      <th>Escombros</th>

    </tr>
     <tr>

      <td><%= @servicio.yeso_a_silo %> &nbsp;</td>
      <td><%= @servicio.conchuela_a_bru %> &nbsp;</td>
      <td><%= @servicio.escombros %> &nbsp;</td>

    </tr>


  </tbody>
</table>
<br>



<h2>Rutinas y otras solicitudes</h2>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Resdiduos</th>
      <th>Barrido industrial</th>
      <th>Retiro derrames</th>
      <th>Aspirados</th>

    </tr>
    <tr>
      <td><%= @servicio.residuos %> &nbsp;</td>
      <td><%= @servicio.barrido_industrial %> &nbsp;</td>
      <td><%= @servicio.retiro_derrames %> &nbsp;</td>
      <td><%= @servicio.aspirado%> &nbsp;</td>
    </tr>
    <tr>
      <th>Cementos</th>
      <th>Transportador</th>
      <th>Materia prima</th>
      <th>Harneo o selección</th>

    </tr>
    <tr>
      <td><%= @servicio.cementos %> &nbsp;</td>
      <td><%= @servicio.transportador %> &nbsp;</td>
      <td><%= @servicio.materia_prima %> &nbsp;</td>
      <td><%= @servicio.harneo_o_seleccion %> &nbsp;</td>
    </tr>
     <tr>

      <th>Recarga</th>
      <th>Molino</th>
      <th>Descarga</th>
      <th>Ton</th>
    </tr>
     <tr>


      <td><%= @servicio.recarga %> &nbsp;</td>
      <td><%= @servicio.molino %> &nbsp;</td>
      <td><%= @servicio.descarga %> &nbsp;</td>
      <td><%= @servicio.ton %> &nbsp;</td>
    </tr>
      <tr>

      <th>Lavado</th>
      <th>Retriro escombros</th>
      <th>Cloración</th>
    </tr>
     <tr>


      <td><%= @servicio.lavado_cont %> &nbsp;</td>
      <td><%= @servicio.retiro_escombros %> &nbsp;</td>
      <td><%= @servicio.cloracion %> &nbsp;</td>
    </tr>


  </tbody>
</table>


<h2>Medio ambiente</h2>

<table class="table table-striped">
  <tbody>
      <tr>

      <th>Lavado contenedores</th>
      <th>Retiro de escombros</th>
      <th>Cloración</th>
    </tr>
     <tr>


      <td><%= @servicio.lavado_cont %> &nbsp;</td>
      <td><%= @servicio.retiro_escombros %> &nbsp;</td>
      <td><%= @servicio.cloracion %> &nbsp;</td>
    </tr>


  </tbody>
</table>


  <h2>Equipos  </h2>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>OL02</th>
      <th>OL09</th>
      <th>OL10</th>
      <th>EX01</th>
      <th>OK05</th>
      <th>OK04</th>
      <th>Barr12</th>
      <th>BBC20</th>
      <th>H12</th>
      <th>CA</th>
    </tr>
    <tr>
      <td><%= @servicio.ol02 %>&nbsp;</td>
      <td><%= @servicio.ol09 %>&nbsp;</td>
      <td><%= @servicio.ol10 %>&nbsp;</td>
      <td><%= @servicio.ex01 %>&nbsp;</td>
      <td><%= @servicio.ok05 %>&nbsp;</td>
      <td><%= @servicio.ok04 %>&nbsp;</td>
      <td><%= @servicio.barr12 %>&nbsp;</td>
      <td><%= @servicio.bbc20 %>&nbsp;</td>
      <td><%= @servicio.h12 %>&nbsp;</td>
      <td><%= @servicio.ca %>&nbsp;</td>

    </tr>

  </tbody>
</table>



<table class="table table-striped">
  <tbody>
    <tr>
      <th>Comentarios</th>
    </tr>
    <tr>
      <td><%= @servicio.comentarios %>&nbsp;</td>
    </tr>

  </tbody>
</table>



</body>

<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
