<p id="notice"><%= notice %></p>

<p>
  <strong>Cas:</strong>
  <%= @servicio.cas %>
</p>

<p>
  <strong>Nfu:</strong>
  <%= @servicio.nfu %>
</p>

<p>
  <strong>Apoyo cas:</strong>
  <%= @servicio.apoyo_cas %>
</p>

<p>
  <strong>Kkbc a p2:</strong>
  <%= @servicio.kkbc_a_p2 %>
</p>

<p>
  <strong>Kka a ngp:</strong>
  <%= @servicio.kka_a_ngp %>
</p>

<p>
  <strong>Kka a p1:</strong>
  <%= @servicio.kka_a_p1 %>
</p>

<p>
  <strong>Yeso a silo:</strong>
  <%= @servicio.yeso_a_silo %>
</p>

<p>
  <strong>Conchuela a bru:</strong>
  <%= @servicio.conchuela_a_bru %>
</p>

<p>
  <strong>Escombros:</strong>
  <%= @servicio.escombros %>
</p>

<p>
  <strong>Residuos:</strong>
  <%= @servicio.residuos %>
</p>

<p>
  <strong>Barrido industrial:</strong>
  <%= @servicio.barrido_industrial %>
</p>

<p>
  <strong>Retiro derrames:</strong>
  <%= @servicio.retiro_derrames %>
</p>

<p>
  <strong>Aspirado:</strong>
  <%= @servicio.aspirado %>
</p>

<p>
  <strong>Cementos:</strong>
  <%= @servicio.cementos %>
</p>

<p>
  <strong>Transportador:</strong>
  <%= @servicio.transportador %>
</p>

<p>
  <strong>Materia prima:</strong>
  <%= @servicio.materia_prima %>
</p>

<p>
  <strong>Harneo o seleccion:</strong>
  <%= @servicio.harneo_o_seleccion %>
</p>

<p>
  <strong>Recarga:</strong>
  <%= @servicio.recarga %>
</p>

<p>
  <strong>Molino:</strong>
  <%= @servicio.molino %>
</p>

<p>
  <strong>Descarga:</strong>
  <%= @servicio.descarga %>
</p>

<p>
  <strong>Ton:</strong>
  <%= @servicio.ton %>
</p>

<p>
  <strong>Lavado cont:</strong>
  <%= @servicio.lavado_cont %>
</p>

<p>
  <strong>Retiro escombros:</strong>
  <%= @servicio.retiro_escombros %>
</p>

<p>
  <strong>Cloracion:</strong>
  <%= @servicio.cloracion %>
</p>

<p>
  <strong>Ol01:</strong>
  <%= @servicio.ol01 %>
</p>

<p>
  <strong>Ol02:</strong>
  <%= @servicio.ol02 %>
</p>

<p>
  <strong>Ol09:</strong>
  <%= @servicio.ol09 %>
</p>

<p>
  <strong>Ol10:</strong>
  <%= @servicio.ol10 %>
</p>

<p>
  <strong>Ex01:</strong>
  <%= @servicio.ex01 %>
</p>

<p>
  <strong>Ok05:</strong>
  <%= @servicio.ok05 %>
</p>

<p>
  <strong>Ok04:</strong>
  <%= @servicio.ok04 %>
</p>

<p>
  <strong>Barr12:</strong>
  <%= @servicio.barr12 %>
</p>

<p>
  <strong>Bbc20:</strong>
  <%= @servicio.bbc20 %>
</p>

<p>
  <strong>H12:</strong>
  <%= @servicio.h12 %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @servicio.ca %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @servicio.comentarios %>
</p>

<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
