<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @codigo_status.codigo_id %>
</p>

<p>
  <strong>Ruidio:</strong>
  <%= @codigo_status.ruidio %>
</p>

<p>
  <strong>Fuga:</strong>
  <%= @codigo_status.fuga %>
</p>

<p>
  <strong>Estructura:</strong>
  <%= @codigo_status.estructura %>
</p>

<p>
  <strong>Housekeep:</strong>
  <%= @codigo_status.housekeep %>
</p>

<p>
  <strong>Vibracion:</strong>
  <%= @codigo_status.vibracion %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @codigo_status.temp %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @codigo_status.estado %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @codigo_status.fecha %>
</p>

<%= link_to 'Edit', edit_codigo_status_path(@codigo_status) %> |
<%= link_to 'Back', codigo_statuses_path %>
