
<%= simple_form_for(@soplado) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :supervisor, label: 'Supervisor' %>
    <%= f.input :fecha %>
    <%= f.input :presion1, label: 'Presi贸n ducto ascendente Normal: 23,4' %>
    <%= f.input :presion2, label: 'Presi贸n ducto descarga CC54 Normal: 847,4' %>
    <%= f.input :presion3, label: 'Presi贸n Quench Normal: 2,3' %>
    <%= f.input :horno, label: 'Alimentaci贸n horno Normal: 120,0 t/h' %>
    <%= f.input :observaciones, label: 'Observaciones' %>
  </div>

  <div class="form-actions">

    <%= f.button :submit, "Agregar a registro", class: "btn-primary" %>
  </div>
<% end %>
