
<%= simple_form_for(@soplado) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :supervisor, label: 'Supervisor' %>
   <%= f.input :fecha %>

    <%= f.input :presion1, label: 'Ducto ascendente P1 Normal: 24' %>
    <%= f.input :presion2, label: 'Ducto ascendente P2 Normal: 2,5' %>
    <%= f.input :presion3, label: 'CC54 P1 Normal: 25' %>
    <%= f.input :presion4, label: 'CC54 P2 Normal: 6' %>
    <%= f.input :presion5, label: 'CC54 Temp Normal: 850' %>
    <%= f.input :presion6, label: 'Quench P1 Normal: 3,5' %>
    <%= f.input :horno, label: 'Alimentación horno Normal: 120,0 t/h' %>
    <%= f.input :observaciones, label: 'Observaciones' %>
  </div>

  <div class="form-actions">

    <%= f.button :submit, "Agregar a registro", class: "btn-primary" %>
  </div>
<% end %>
