<p id="notice"><%= notice %></p>

<h1>Registro soplado</h1>

<table id="myTable" class="table table-striped table-bordered table-sm shadow">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Supervisor</th>
      <th>Ducto P1 ascendente</th>
      <th>Ducto P2 ascendente</th>
      <th>CC54 P1</th>
      <th>CC54 P2</th>
      <th>CC54 Temp</th>
      <th>Quench P1</th>
      <th>Horno</th>
      <th>Observaciones</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @soplados.each do |soplado| %>
      <tr>
        <td><%= soplado.fecha.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= soplado.supervisor %></td>
        <td><%= soplado.presion1 %></td>
        <td><%= soplado.presion2 %></td>
        <td><%= soplado.presion3 %></td>
        <td><%= soplado.presion4 %></td>
        <td><%= soplado.presion5 %></td>
        <td><%= soplado.presion6 %></td>
        <td><%= soplado.horno %></td>
        <td><%= soplado.jetin ? 'Sí' : 'No' %></td>
        <td><%= soplado.observaciones %></td>
        <td class="text-center">
        <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
        <%= link_to '', edit_soplado_path(soplado), class: "fa fa-edit fa-fw text-light" %>
         </button>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo registro', new_soplado_path, class: "btn btn-primary shadow" %>
