<p id="notice"><%= notice %></p>

<p>
  <strong>Supervisor:</strong>
  <%= @soplado.supervisor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @soplado.fecha %>
</p>

<p>
  <strong>Ducto P1 ascendente Normal: 23,4</strong>
  <%= @soplado.presion1 %>
</p>

<p>
  <strong>Ducto P2 ascendente Normal: 23,4</strong>
  <%= @soplado.presion2 %>
</p>

<p>
  <strong>CC54 P1 Normal: 4,4</strong>
  <%= @soplado.presion3 %>
</p>

<p>
  <strong>CC54 P2 Normal: 4,4</strong>
  <%= @soplado.presion4 %>
</p>

<p>
  <strong>CC54 Temp Normal: 847,4</strong>
  <%= @soplado.presion5 %>
</p>

<p>
  <strong>Quench P1 Normal: 2,3</strong>
  <%= @soplado.presion6 %>
</p>

<p>
  <strong>Horno:</strong>
  <%= @soplado.horno %>
</p>
<p>
  <strong>Observaciones:</strong>
  <%= @soplado.observaciones %>
</p>

<%= link_to 'Edit', edit_soplado_path(@soplado) %> |
<%= link_to 'Back', soplados_path %>
