<p id="notice"><%= notice %></p>

<p>
  <strong>Supervisor:</strong>
  <%= @soplado.supervisor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @soplado.fecha %>
</p>

<p>
  <strong>Presion1:</strong>
  <%= @soplado.presion1 %>
</p>

<p>
  <strong>Presion2:</strong>
  <%= @soplado.presion2 %>
</p>

<p>
  <strong>Presion3:</strong>
  <%= @soplado.presion3 %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @soplado.observaciones %>
</p>

<%= link_to 'Edit', edit_soplado_path(@soplado) %> |
<%= link_to 'Back', soplados_path %>
