<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #FFFFFF;margin: 0;padding: 0;">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->
  <title>Planit</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

 <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        table {
            width: 60%;
        }

        th {
            height: 20px;
            background-color: #34A69A;
            color: white;
        }

        th.no-color {
            background-color: transparent;
            color: black;
            font-weight: bold;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>


<% medida = Medida.last %>
<% tm = Medida.where(turno: 'TM').last %>
<% tt = Medida.where(turno: 'TT').last if medida&.turno == 'TT' || medida&.turno == 'TN' %>
<% tn = Medida.where(turno: 'TN').last if medida&.turno == 'TN' %>



  <div class="container col-6">
    <h1><u>Reporte medidas silos y stock <%= medida.turno %></u></h1>
    <h2><%= medida.created_at.in_time_zone('Santiago').strftime("%Y-%m-%d %H:%M") %></h2>


<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="4">Inventario por Tipo</th>
    </tr>
    <tr>
      <th scope="col" class="no-color">Producto (ton)</th>
      <th scope="col" class="no-color">TM</th>
      <th scope="col" class="no-color">TT</th>
      <th scope="col" class="no-color">TN</th>
    </tr>
  </thead>
  <tbody>
    <% totaltm = 0 %>
    <% totaltt = 0 %>
    <% totaltn = 0 %>
    <tr>
      <td>Cemento Extra Silo y Piso</td>
      <td>
        <% extra = (((20 - tm.silo28) * 100)).to_i +
                  ((30 - ((tm.silo21a.to_f + tm.silo21b.to_f) / 2)) * 100).to_i +
                  ((30 - ((tm.silo22a.to_f + tm.silo22b.to_f) / 2)) * 100).to_i +
                  (tm.extrsacos || 0) +
                  (tm.bigbagextra || 0) +
                  (tm.bigbagextra1 || 0) +
                  (tm.bigbagextra1350 || 0)
        %>
        <%= extra %>
        <% totaltm += extra %>
      </td>
       <td>
        <% extra = nil %>
<% if tt %>
  <% extra = (((20 - tt.silo28) * 100)).to_i +
             ((30 - ((tt.silo21a.to_f + tt.silo21b.to_f) / 2)) * 100).to_i +
             ((30 - ((tt.silo22a.to_f + tt.silo22b.to_f) / 2)) * 100).to_i +
             (tt.extrsacos || 0) +
             (tt.bigbagextra || 0) +
             (tt.bigbagextra1 || 0) +
             (tt.bigbagextra1350 || 0) %>
<% end %>
<%= extra %>
<% totaltt += extra if extra %>
      </td>
       <td>
       <% extra = nil %>
<% if tn %>
  <% extra = (((20 - tn.silo28) * 100)).to_i +
             ((30 - ((tn.silo21a.to_f + tn.silo21b.to_f) / 2)) * 100).to_i +
             ((30 - ((tn.silo22a.to_f + tn.silo22b.to_f) / 2)) * 100).to_i +
             (tn.extrsacos || 0) +
             (tn.bigbagextra || 0) +
             (tn.bigbagextra1 || 0) +
             (tn.bigbagextra1350 || 0) %>
<% end %>
<%= extra %>
<% totaltn += extra if extra %>
      </td>
    </tr>
    <tr>
      <td>Cemento Especial Silo y Piso</td>
      <td>
        <% especial = ((30 - tm.silo27) * 460) +
                      (tm.especialsacos || 0) +
                      (tm.bigbagespecial || 0)
        %>
        <%= especial %>
        <% totaltm += especial %>
      </td>
      <td>
        <% especial = nil %>
<% if tt %>
  <% especial = ((30 - tt.silo27) * 460) +
                (tt.especialsacos || 0) +
                (tt.bigbagespecial || 0) %>
<% end %>
<%= especial %>
<% totaltt += especial if especial %>

      </td>
      <td>
        <% especial = nil %>
<% if tn %>
  <% especial = ((30 - tn.silo27) * 460) +
                (tn.especialsacos || 0) +
                (tn.bigbagespecial || 0) %>
<% end %>
<%= especial %>
<% totaltn += especial if especial %>

      </td>
    </tr>
    <tr>
      <td>Cemento S3300 en Silo</td>
      <td>
        <% s3300 = ((30 - ((tm.silo19a.to_f + tm.silo19b.to_f) / 2)) * 100).to_i %>
        <%= s3300 %>
        <% totaltm += s3300 %>
      </td>
      <td>
       <% s3300 = nil %>
<% if tt %>
  <% s3300 = ((30 - ((tt.silo19a.to_f + tt.silo19b.to_f) / 2)) * 100).to_i %>
<% end %>
<%= s3300 %>
<% totaltt += s3300 if s3300 %>

      </td>
      <td>
       <% s3300 = nil %>
<% if tn %>
  <% s3300 = ((30 - ((tn.silo19a.to_f + tn.silo19b.to_f) / 2)) * 100).to_i %>
<% end %>
<%= s3300 %>
<% totaltn += s3300 if s3300 %>

      </td>

    </tr>
    <tr>
      <td>Cemento S4200 Silo y Piso</td>
      <td>
        <% s4200 = (((30 - ((tm.silo20a.to_f + tm.silo20b.to_f) / 2)) * 100).to_i) +
                   (tm.bigbagsuper || 0)
        %>
        <%= s4200 %>
        <% totaltm += s4200 %>
      </td>
      <td>
  <% s4200 = nil %>
  <% if tt %>
    <% s4200 = (((30 - ((tt.silo20a.to_f + tt.silo20b.to_f) / 2)) * 100).to_i) +
               (tt.bigbagsuper || 0) %>
  <% end %>
  <%= s4200 %>
  <% totaltt += s4200 if s4200 %>
</td>

      <td>
  <% s4200 = nil %>
  <% if tn %>
    <% s4200 = (((30 - ((tn.silo20a.to_f + tn.silo20b.to_f) / 2)) * 100).to_i) +
               (tn.bigbagsuper || 0) %>
  <% end %>
  <%= s4200 %>
  <% totaltn += s4200 if s4200 %>
</td>

    </tr>
    <tr>
      <td>Total</td>
      <td><%= totaltm %></td>
      <td><%= totaltt %></td>
      <td><%= totaltn %></td>
    </tr>
  </tbody>
</table>
<br>


<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th colspan="4">Inventario de Sacos</th>
    </tr>
    <tr>
      <th scope="col" class="no-color">Producto (ton)</th>
      <th scope="col" class="no-color">TM</th>
      <th scope="col" class="no-color">TT</th>
      <th scope="col" class="no-color">TN</th>
    </tr>
  </thead>
  <tbody>
    <% productos = [
      { nombre: "Especial", campos: [:especialsacos, :especialsacos, :especialsacos] },
      { nombre: "Especial Soluble", campos: [:especial_sacos_soluble, :especial_sacos_soluble, :especial_sacos_soluble] },
      { nombre: "Especial Plastificado completo", campos: [:plastificado_especial, :plastificado_especial, :plastificado_especial], factor: 1.8 },
      { nombre: "Especial Plastificado soluble completo", campos: [:plastificado_especial_soluble_completo, :plastificado_especial_soluble_completo, :plastificado_especial_soluble_completo], factor: 1.8 },
      { nombre: "Especial Plastificado lados", campos: [:plastificado_especial_lados, :plastificado_especial_lados, :plastificado_especial_lados], factor: 1.8 },
      { nombre: "Especial Plastificado zuncho", campos: [:plastificado_especial_zunchos, :plastificado_especial_zunchos, :plastificado_especial_zunchos], factor: 1.8 },
      { nombre: "Extra", campos: [:extrsacos, :extrsacos, :extrsacos] },
      { nombre: "Extra soluble", campos: [:extra_sacos_soluble, :extra_sacos_soluble, :extra_sacos_soluble] },
      { nombre: "Extra Plastificado completo", campos: [:plastificado_extra, :plastificado_extra, :plastificado_extra], factor: 1.8 },
      { nombre: "Extra Plastificado soluble completo", campos: [:plastificado_extra_soluble_completo, :plastificado_extra_soluble_completo, :plastificado_extra_soluble_completo], factor: 1.8 },
      { nombre: "Extra Plastificado zunchos", campos: [:plastificado_extra_zunchos, :plastificado_extra_zunchos, :plastificado_extra_zunchos], factor: 1.8 }
    ] %>

    <% productos.each do |producto| %>
      <tr>
        <td><%= producto[:nombre] %></td>
        <% [tm, tt, tn].each_with_index do |obj, idx| %>
          <td>
            <% if producto[:factor] %>
              <%= obj&.send(producto[:campos][idx]) ? (obj.send(producto[:campos][idx]) * producto[:factor]).round : nil %>
            <% else %>
              <%= obj&.send(producto[:campos][idx]) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>






<br>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th colspan="4">Inventario de Big Bags</th>
    </tr>
    <tr>
      <th scope="col" class="no-color">Producto (ton)</th>
      <th scope="col" class="no-color">TM</th>
      <th scope="col" class="no-color">TT</th>
      <th scope="col" class="no-color">TN</th>
    </tr>
  </thead>
  <tbody>
    <% bigbags = [
      { nombre: "Bigbag extra piso (BB extra para retiro)", campos: [:bigbagextra, :bigbagextra, :bigbagextra] },
      { nombre: "Bigbag extra 1t", campos: [:bigbagextra1, :bigbagextra1, :bigbagextra1] },
      { nombre: "Extra peba 1350", campos: [:bigbagextra1350, :bigbagextra1350, :bigbagextra1350] },
      { nombre: "Bigbag especial", campos: [:bigbagespecial, :bigbagespecial, :bigbagespecial] },
      { nombre: "Bigbag super", campos: [:bigbagsuper, :bigbagsuper, :bigbagsuper] }
    ] %>

    <% bigbags.each do |bag| %>
      <tr>
        <td><%= bag[:nombre] %></td>
        <% [tm, tt, tn].each_with_index do |obj, idx| %>
          <td>
            <%= obj&.send(bag[:campos][idx]) || nil %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>






<br>

<table class="table table-sm">
<thead>
            <tr>
                <th colspan="4">Inventario de Silos</th>
            </tr>
            <tr>
                <th scope="col" class="no-color">Silo (producto)</th>
                <th scope="col" class="no-color">T (Ton)</th>
                <th scope="col" class="no-color">M1</th>
                <th scope="col" class="no-color">M2</th>
            </tr>
        </thead>
<tbody>
  <tr>
    <td>19 (S3300)</td>
    <td><%= ((30 - ((medida.silo19a.to_f + medida.silo19b.to_f)/2)) * 100).to_i %></td>
    <td><%= medida.silo19a   %></td>
    <td><%= medida.silo19b   %></td>

  </tr>
  <tr>
    <td>20 (S4200)</td>
    <td><%= ((30 - ((medida.silo20a.to_f + medida.silo20b.to_f)/2)) * 100).to_i %></td>
    <td><%=  medida.silo20a  %></td>
    <td><%=  medida.silo20b  %></td>

  </tr>
  <tr>
    <td>21 (Extra)</td>
    <td><%= ((30 - ((medida.silo21a.to_f + medida.silo21b.to_f)/2)) * 100).to_i %></td>
    <td><%= medida.silo21a   %></td>
    <td><%= medida.silo21b   %></td>
  </tr>
  <tr>
    <td>22 (Extra)</td>
    <td><%= ((30 - ((medida.silo22a.to_f + medida.silo22b.to_f)/2)) * 100).to_i %></td>
    <td><%= medida.silo22a  %></td>
    <td><%= medida.silo22b   %></td>
  </tr>

  <tr>
    <td>28 (Extra)</td>
     <td><%= ((20 - medida.silo28) * 100).clamp(0, Float::INFINITY) %></td>
    <td><%= medida.silo28   %></td>
    <td></td>
  </tr>
  <tr>
    <td>27 (Especial)</td>
    <td><%= medida.silo27 ? (30 - medida.silo27) * 460 : "" %></td>
    <td><%= medida.silo27   %></td>
    <td></td>
  </tr>
</tbody>
</table>
<br>

<table class="table table-sm">
<thead>
            <tr>
                <th colspan="4">Inventario Total combinado</th>
            </tr>
            <tr>
                <th scope="col" class="no-color">Producto</th>
                <th scope="col" class="no-color">T(Ton)</th>
                <th scope="col" class="no-color"></th>
                <th scope="col" class="no-color"></th>
            </tr>
        </thead>
<tbody>
  <tr>
    <td>Cemento Extra en Silo (21-22-28)</td>
    <td><%= (((20 - medida.silo28) * 100)).to_i + ((30 - ((medida.silo21a.to_f + medida.silo21b.to_f)/2)) * 100).to_i + ((30 - ((medida.silo22a.to_f + medida.silo22b.to_f)/2)) * 100).to_i %> </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Cemento Extra en Piso </td>
    <td><%= (medida.extrsacos ? medida.extrsacos : 0) + (medida.bigbagextra ? medida.bigbagextra : 0) + (medida.bigbagextra1 ? medida.bigbagextra1 : 0) + (medida.bigbagextra1350 ? medida.bigbagextra1350 : 0)%> </td>
     <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Cemento Especial en Silo (27)</td>
    <td><%= ((30 - medida.silo27) * 460 ) %></td>
     <td></td>
    <td></td>
  </tr>
   <tr>
    <td>Cemento Especial en Piso</td>
    <td><%= (medida.especialsacos ? medida.especialsacos : 0) + (medida.bigbagespecial ? medida.bigbagespecial : 0)%></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Cemento S3300 en Silo (19)</td>
    <td><%=((30 - ((medida.silo19a.to_f + medida.silo19b.to_f)/2)) * 100).to_i %> </td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>Cemento S4200 en Silo (20)</td>
    <td><%= (((30 - ((medida.silo20a.to_f + medida.silo20b.to_f)/2)) * 100).to_i)%> </td>
    <td></td>
    <td></td>

  </tr>
   <tr>
    <td>Cemento S4200 en Piso</td>
    <td><%= (medida.bigbagsuper ? medida.bigbagsuper : 0) %></td>
    <td></td>
    <td></td>
  </tr>





  </tbody>
</table>
<br>



<table class="table table-sm">
<thead>
            <tr>
                <th colspan="4">Despachos</th>
            </tr>
            <tr>
                <th scope="col" class="no-color">Producto</th>
                <th scope="col" class="no-color"></th>
                <th scope="col" class="no-color"></th>
                <th scope="col" class="no-color"></th>
            </tr>
        </thead>
<tbody>
  <tr>
    <td>Especial sacos</td>
    <td><%= medida.especial_sacos %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Extra sacos</td>
    <td><%= medida.extra_sacos %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Especial Bigbag</td>
    <td><%= medida.especial_bigbag %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Extra Bigbag</td>
    <td><%= medida.extra_bigbag %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Especial Granel</td>
    <td><%= medida.especial_granel %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Extra Granel</td>
    <td><%= medida.extra_granel %></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td>S3300 Granel</td>
    <td><%= medida.super_3300_granel %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>S4200 Granel</td>
    <td><%= medida.super_4200_granel %></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

<br>

<table class="table table-sm">
<thead>
            <tr>
                <th colspan="4">Producciones</th>
            </tr>
            <tr>
                <th scope="col" class="no-color">Equipo</th>
                <th scope="col" class="no-color">Turno</th>
                <th scope="col" class="no-color">Cumplimiento</th>
                <th scope="col" class="no-color"></th>

            </tr>
        </thead>
<tbody>
  <tr>
    <td>Haver</td>
    <td><%= medida.prodhaver %></td>
    <td><%= [(medida.prodhaver * 100) / 12000, 100].min %></td>
    <td></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td><%= medida.prodvento %></td>
    <td><%= [(medida.prodvento * 100) / 7000, 100].min %></td>
    <td></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td><%= medida.prodbb %></td>
    <td><%= [(medida.prodbb * 100) / 125, 100].min %></td>
    <td></td>
  </tr>
</tbody>
</table>

<br>

<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Linea</th>
    <th scope="col">Tolva</th>
    <th scope="col">Producto</th>
    <th scope="col">Nivel tolva %</th>
    <th scope="col">Toneladas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 1 </td>
    <td><%= medida.silos3000tolva1 %></td>
    <td><%= medida.ns30001 %></td>
    <td><%= medida.ns30001.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 4 </td>
    <td><%= medida.silos3000tolva4 %></td>
    <td><%= medida.ns30002 %></td>
    <td><%= medida.ns30002.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 5 </td>
    <td><%= medida.silos3000tolva5 %> </td>
    <td><%= medida.ns30003 %></td>
    <td><%= medida.ns30003.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 1</td>
    <td><%= medida.silosbigbag1 %></td>
    <td><%= medida.nbb1 %></td>
    <td><%= medida.nbb1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 2 </td>
    <td><%= medida.silosbigbag2 %></td>
    <td><%= medida.nbb2 %></td>
    <td><%= medida.nbb2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 1</td>
    <td><%= medida.silosvento1 %></td>
    <td><%= medida.nvento1 %></td>
    <td><%= medida.nvento1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic</td>
    <td>Silo 2</td>
    <td><%= medida.silovento2 %></td>
    <td><%= medida.nvento2 %></td>
    <td><%= medida.nvento2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 3</td>
    <td><%= medida.silovento3 %></td>
    <td><%= medida.nvento3 %></td>
    <td><%= medida.nvento3.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td>Calle 5</td>
    <td><%= medida.tolvacalle5 %></td>
    <td><%= medida.otros %></td>
    <td><%= medida.otros.to_i * 150 / 100  %></td>
  </tr>
</tbody>
</table>
<br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calles</th>
    <th scope="col">Operativas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 27</td>
    <td><%= medida.callesilo27 %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td><%= medida.callesilo28 %></td>
  </tr>
  <tr>
    <td>Planta 1</td>
    <td><%= medida.callesplanta1 %></td>
  </tr>

</tbody>
</table>
</div>
  <br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calle</th>
    <th scope="col">Estado</th>
    <th scope="col">Cemento</th>
    <th scope="col">Comentarios</th>

  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 28 Calle 3</td>

    <td><%= medida.s28c3op %></td>
    <td><%= medida.s28c3cemento %></td>
    <td><%= medida.s28c3nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 4</td>

    <td><%= medida.s28c4op %></td>
    <td><%= medida.s28c4cemento %></td>
    <td><%= medida.s28c4nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 5</td>

    <td><%= medida.s28c5op %></td>
    <td><%= medida.s28c5cemento %></td>
    <td><%= medida.s28c5nota %></td>
  </tr>
  <tr>
    <td>Silo 27 Calle 6</td>

    <td><%= medida.s27c6op %></td>
    <td><%= medida.s27c7cemento %></td>
    <td><%= medida.s27c7nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Cale 1</td>

    <td><%= medida.s30c1op %></td>
    <td><%= medida.s30c1cemento %></td>
    <td><%= medida.s30c1nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 4</td>

    <td><%= medida.s30c4op %></td>
    <td><%= medida.s30c4cemento %></td>
    <td><%= medida.s30c4nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 5</td>

    <td><%= medida.s30c5op %></td>
    <td><%= medida.s30c5cemento %></td>
    <td><%= medida.s30c5nota %></td>
  </tr>

</tbody>
</table>
<br>

  <br>
  <br>
  <br>
  <br>


</body>
</body>
</html>

