<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #FFFFFF;margin: 0;padding: 0;">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->
  <title>Planit</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

  <style type="text/css">

    table {
    border-collapse: collapse;
    }

    table, th, td {
    border: 1px solid black;
    }

    table {
    width: 70%;
  }

    th {
    height: 20px;
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }


  </style>
</head>

<body>




  <div class="container col-6">
    <h1><u>Reporte medidas silos y stock</u></h1>
    <h2><%= Medida.last.created_at.in_time_zone('Santiago').strftime("%Y-%m-%d %H:%M") %></h2>


<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Stock plastificado</th>
            <th scope="col">pallets</th>
            <th scope="col">Ton</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Especial completo</td>
            <td><%= Medida.last.plastificado_especial %></td>
            <td><%= (Medida.last.plastificado_especial * 1.8).round %></td>
        </tr>
        <tr>
            <td>Especial lados</td>
            <td><%= Medida.last.plastificado_especial_lados %></td>
            <td><%= (Medida.last.plastificado_especial_lados * 1.8).round %></td>
        </tr>
        <tr>
            <td>Especial con zunchos</td>
            <td><%= Medida.last.plastificado_especial_zunchos %></td>
            <td><%= (Medida.last.plastificado_especial_zunchos * 1.8).round %></td>
        </tr>
        <tr>
            <td>Extra completo</td>
            <td><%= Medida.last.plastificado_extra %></td>
            <td><%= (Medida.last.plastificado_extra * 1.8).round %></td>
        </tr>
        <tr>
            <td>Extra con zunchos</td>
            <td><%= Medida.last.plastificado_extra_zunchos %></td>
            <td><%= (Medida.last.plastificado_extra_zunchos * 1.8).round %></td>
        </tr>
    </tbody>
</table>

<br>



<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Despacho</th>
    <th scope="col">Especial</th>
    <th scope="col">Extra</th>
    <th scope="col">Super 3300</th>
    <th scope="col">Super 4200</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Sacos</td>
    <td><%= Medida.last.especial_sacos %></td>
    <td><%= Medida.last.extra_sacos %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Bigbag</td>
    <td><%= Medida.last.especial_bigbag %></td>
    <td><%= Medida.last.extra_bigbag %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Granel</td>
    <td><%= Medida.last.especial_granel %></td>
    <td><%= Medida.last.extra_granel %></td>
    <td><%= Medida.last.super_3300_granel %></td>
    <td><%= Medida.last.super_4200_granel %></td>
  </tr>
</tbody>
</table>

<br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Cemento</th>
    <th scope="col">Total Silos (t)</th>
    <th scope="col">Total Piso (t)</th>
    <th scope="col">Total (t)</th>
  </tr>
  </thead>
<tbody>
  <tr>
    <td>Cemento Extra</td>
    <td><%= (((20 - Medida.last.silo28) * 100)).to_i + ((30 - ((Medida.last.silo21a.to_f + Medida.last.silo21b.to_f)/2)) * 100).to_i %> (Silos 28-21)</td>
    <td><%= (Medida.last.extrsacos ? Medida.last.extrsacos : 0) + (Medida.last.bigbagextra ? Medida.last.bigbagextra : 0) + (Medida.last.bigbagextra1 ? Medida.last.bigbagextra1 : 0) + (Medida.last.bigbagextra1350 ? Medida.last.bigbagextra1350 : 0)%> (Sacos-Bigbag-Bigbag 1t-Peba)</td>
    <td>  <%= ((((20 - Medida.last.silo28) * 100)).to_i) +  (Medida.last.extrsacos ? Medida.last.extrsacos : 0) + (Medida.last.bigbagextra ? Medida.last.bigbagextra : 0) + (Medida.last.bigbagextra1 ? Medida.last.bigbagextra1 : 0) + (Medida.last.bigbagextra1350 ? Medida.last.bigbagextra1350 : 0) + ((30 - ((Medida.last.silo21a.to_f + Medida.last.silo21b.to_f)/2)) * 100).to_i %> </td>
  </tr>
  <tr>
    <td>Cemento Super 3300</td>
    <td><%=((30 - ((Medida.last.silo19a.to_f + Medida.last.silo19b.to_f)/2)) * 100).to_i %> (Silo 19)</td>
    <td></td>
    <td><%=((30 - ((Medida.last.silo19a.to_f + Medida.last.silo19b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>Cemento Super 4200</td>
    <td><%= (((30 - ((Medida.last.silo20a.to_f + Medida.last.silo20b.to_f)/2)) * 100).to_i)%> (Silo 20) </td>
    <td><%= (Medida.last.bigbagsuper ? Medida.last.bigbagsuper : 0) %> (Bigbag)</td>
    <td><%= (Medida.last.bigbagsuper ? Medida.last.bigbagsuper : 0) + ((30 - ((Medida.last.silo20a.to_f + Medida.last.silo20b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>Cemento Especial</td>
    <td><%= ((30 - Medida.last.silo27) * 460 ) %> (Silos 27)</td>
    <td><%= (Medida.last.especialsacos ? Medida.last.especialsacos : 0) + (Medida.last.bigbagespecial ? Medida.last.bigbagespecial : 0)%> (Sacos-Bigbag)</td>
     <td><%= (Medida.last.silo27 ? (30 - Medida.last.silo27) * 460 : "") + (Medida.last.especialsacos ? Medida.last.especialsacos : 0) + (Medida.last.bigbagespecial ? Medida.last.bigbagespecial : 0)  %>  </td>
  </tr>
  <tr>
    <td>Cemento Plus</td>
    <td></td>
    <td><%= (Medida.last.bigbagplus ? Medida.last.bigbagplus : 0) %> (Bigbag)</td>
     <td><%= (Medida.last.bigbagplus ? Medida.last.bigbagplus : 0) %></td>
  </tr>
  <tr>
    <td>Cemento AR</td>
    <td><%=((30 - ((Medida.last.silo22a.to_f + Medida.last.silo22b.to_f)/2)) * 100).to_i %> (Silo 22)</td>
    <td></td>
     <td><%= ((30 - ((Medida.last.silo22a.to_f + Medida.last.silo22b.to_f)/2)) * 100).to_i %></td>
  </tr>

  <tr>
    <td><strong>Total</strong></td>
    <td><strong><%= (((30 - ((Medida.last.silo21a.to_f + Medida.last.silo21b.to_f)/2)) * 100) + ((30 - ((Medida.last.silo22a.to_f + Medida.last.silo22b.to_f)/2)) * 100) + ((20 - Medida.last.silo28) * 100) + ((30 - ((Medida.last.silo19a.to_f + Medida.last.silo19b.to_f)/2)) * 100) + ((30 - ((Medida.last.silo20a.to_f + Medida.last.silo20b.to_f)/2)) * 100) + (Medida.last.silo27 ? (30 - Medida.last.silo27) * 460 : 0)).to_i %></strong></td>
    <td><strong><%= (Medida.last.extrsacos ? Medida.last.extrsacos : 0) + (Medida.last.bigbagextra ? Medida.last.bigbagextra : 0) + (Medida.last.bigbagextra1 ? Medida.last.bigbagextra1 : 0) + (Medida.last.bigbagextra1350 ? Medida.last.bigbagextra1350 : 0) + (Medida.last.bigbagsuper ? Medida.last.bigbagsuper : 0) + (Medida.last.especialsacos ? Medida.last.especialsacos : 0) + (Medida.last.bigbagespecial ? Medida.last.bigbagespecial : 0) + (Medida.last.bigbagplus ? Medida.last.bigbagplus : 0) %></strong></td>
    <td><strong><%= ((((30 - ((Medida.last.silo21a.to_f + Medida.last.silo21b.to_f)/2)) * 100) + ((30 - ((Medida.last.silo22a.to_f + Medida.last.silo22b.to_f)/2)) * 100) + ((20 - Medida.last.silo28) * 100)).to_i) +  (Medida.last.extrsacos ? Medida.last.extrsacos : 0) + (Medida.last.bigbagextra ? Medida.last.bigbagextra : 0) + (Medida.last.bigbagextra1 ? Medida.last.bigbagextra1 : 0) + (Medida.last.bigbagextra1350 ? Medida.last.bigbagextra1350 : 0) + ((30 - ((Medida.last.silo19a.to_f + Medida.last.silo19b.to_f)/2)) * 100).to_i + ((30 - ((Medida.last.silo20a.to_f + Medida.last.silo20b.to_f)/2)) * 100).to_i + (Medida.last.bigbagsuper ? Medida.last.bigbagsuper : 0) + (Medida.last.silo27 ? (30 - Medida.last.silo27) * 460 : "") + (Medida.last.especialsacos ? Medida.last.especialsacos : 0) + (Medida.last.bigbagespecial ? Medida.last.bigbagespecial : 0) + (Medida.last.bigbagplus ? Medida.last.bigbagplus : 0) %></strong></td>
  </tr>
  </tbody>
</table>

<br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Enjuague</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Ton</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Super 3.300</td>
    <td><%= Medida.last.enjuagues_super %></td>
    <td><%= Medida.last.enjuagues_super * 12 %></td>

  </tr>
   <tr>
    <td>Super 4.200</td>
    <td><%= Medida.last.enjuagues_super4 %></td>
    <td><%= Medida.last.enjuagues_super4 * 12 %></td>

  </tr>

</tbody>
</table>
<br>

<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Silo</th>
    <th scope="col">Medida 1</th>
    <th scope="col">Medida 2</th>
    <th scope="col">Ton</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>19 (Super 3300)</td>
    <td><%= Medida.last.silo19a %></td>
    <td><%= Medida.last.silo19b %></td>
    <td><%= ((30 - ((Medida.last.silo19a.to_f + Medida.last.silo19b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>20 (Super 4200)</td>
    <td><%= Medida.last.silo20a %> </td>
    <td><%= Medida.last.silo20b %></td>
    <td><%= ((30 - ((Medida.last.silo20a.to_f + Medida.last.silo20b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>21 (Extra)</td>
    <td><%= Medida.last.silo21a %></td>
    <td><%= Medida.last.silo21b %></td>
    <td><%= ((30 - ((Medida.last.silo21a.to_f + Medida.last.silo21b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>22 (AR)</td>
    <td><%= Medida.last.silo22a %></td>
    <td><%= Medida.last.silo22b %></td>
    <td><%= ((30 - ((Medida.last.silo22a.to_f + Medida.last.silo22b.to_f)/2)) * 100).to_i %></td>
  </tr>
  <tr>
    <td>27 (Especial)</td>
    <td><%= Medida.last.silo27 %></td>
    <td></td>
    <td><%= Medida.last.silo27 ? (30 - Medida.last.silo27) * 460 : "" %></td>

  </tr>
  <tr>
    <td>28 (Extra)</td>
    <td><%= Medida.last.silo28 %></td>
    <td></td>
    <td><%= (20 - Medida.last.silo28) * 100 %></td>
  </tr>
</tbody>
</table>



<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Equipo</th>
    <th scope="col">Stock (ton)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Especial sacos</td>
    <td> <%= Medida.last.especialsacos %></td>
  </tr>
  <tr>
    <td>Extra sacos</td>
    <td><%= Medida.last.extrsacos %></td>
  </tr>
  <tr>
    <td>Bigbag extra piso (BB extra para retiro)</td>
    <td><%= Medida.last.bigbagextra %> (<%= Medida.last.bigbag_extra_retiro %>)</td>
  </tr>
  <tr>
    <td>Bigbag extra 1t</td>
    <td><%= Medida.last.bigbagextra1 %></td>
  </tr>
  <tr>
    <td>Extra peba 1350 </td>
    <td><%= Medida.last.bigbagextra1350 %></td>
  </tr>
  <tr>
    <td>Bigbag especial</td>
    <td><%= Medida.last.bigbagespecial %></td>

  </tr>
  <tr>
    <td>Bigbag super </td>
    <td><%= Medida.last.bigbagsuper %></td>
  </tr>
  <tr>
    <td>Bigbag plus </td>
    <td><%= Medida.last.bigbagplus %></td>
  </tr>
</tbody>
</table><br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Equipo</th>
    <th scope="col">Producción (sacos)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Haver</td>
    <td> <%= Medida.last.prodhaver %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td><%= Medida.last.prodvento %></td>
  </tr>
</tbody>
</table><br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Linea</th>
    <th scope="col">Tolva</th>
    <th scope="col">Producto</th>
    <th scope="col">Nivel tolva %</th>
    <th scope="col">Toneladas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 1 </td>
    <td><%= Medida.last.silos3000tolva1 %></td>
    <td><%= Medida.last.ns30001 %></td>
    <td><%= Medida.last.ns30001.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 4 </td>
    <td><%= Medida.last.silos3000tolva4 %></td>
    <td><%= Medida.last.ns30002 %></td>
    <td><%= Medida.last.ns30002.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 5 </td>
    <td><%= Medida.last.silos3000tolva5 %> </td>
    <td><%= Medida.last.ns30003 %></td>
    <td><%= Medida.last.ns30003.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 1</td>
    <td><%= Medida.last.silosbigbag1 %></td>
    <td><%= Medida.last.nbb1 %></td>
    <td><%= Medida.last.nbb1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 2 </td>
    <td><%= Medida.last.silosbigbag2 %></td>
    <td><%= Medida.last.nbb2 %></td>
    <td><%= Medida.last.nbb2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 1</td>
    <td><%= Medida.last.silosvento1 %></td>
    <td><%= Medida.last.nvento1 %></td>
    <td><%= Medida.last.nvento1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic</td>
    <td>Silo 2</td>
    <td><%= Medida.last.silovento2 %></td>
    <td><%= Medida.last.nvento2 %></td>
    <td><%= Medida.last.nvento2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 3</td>
    <td><%= Medida.last.silovento3 %></td>
    <td><%= Medida.last.nvento3 %></td>
    <td><%= Medida.last.nvento3.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td>Calle 5</td>
    <td><%= Medida.last.tolvacalle5 %></td>
    <td><%= Medida.last.otros %></td>
    <td><%= Medida.last.otros.to_i * 150 / 100  %></td>
  </tr>
</tbody>
</table>
<br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calles</th>
    <th scope="col">Operativas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 27</td>
    <td><%= Medida.last.callesilo27 %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td><%= Medida.last.callesilo28 %></td>
  </tr>
  <tr>
    <td>Planta 1</td>
    <td><%= Medida.last.callesplanta1 %></td>
  </tr>

</tbody>
</table>
</div>
  <br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calle</th>
    <th scope="col">Estado</th>
    <th scope="col">Cemento</th>
    <th scope="col">Comentarios</th>

  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 28 Calle 3</td>

    <td><%= Medida.last.s28c3op %></td>
    <td><%= Medida.last.s28c3cemento %></td>
    <td><%= Medida.last.s28c3nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 4</td>

    <td><%= Medida.last.s28c4op %></td>
    <td><%= Medida.last.s28c4cemento %></td>
    <td><%= Medida.last.s28c4nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 5</td>

    <td><%= Medida.last.s28c5op %></td>
    <td><%= Medida.last.s28c5cemento %></td>
    <td><%= Medida.last.s28c5nota %></td>
  </tr>
  <tr>
    <td>Silo 27 Calle 6</td>

    <td><%= Medida.last.s27c6op %></td>
    <td><%= Medida.last.s27c7cemento %></td>
    <td><%= Medida.last.s27c7nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Cale 1</td>

    <td><%= Medida.last.s30c1op %></td>
    <td><%= Medida.last.s30c1cemento %></td>
    <td><%= Medida.last.s30c1nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 4</td>

    <td><%= Medida.last.s30c4op %></td>
    <td><%= Medida.last.s30c4cemento %></td>
    <td><%= Medida.last.s30c4nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 5</td>

    <td><%= Medida.last.s30c5op %></td>
    <td><%= Medida.last.s30c5cemento %></td>
    <td><%= Medida.last.s30c5nota %></td>
  </tr>

</tbody>
</table>
<br>

  <br>
  <br>
  <br>
  <br>


</body>
</body>
</html>

