<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #FFFFFF;margin: 0;padding: 0;">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->
  <title>Planit</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

  <style type="text/css">

    table {
    border-collapse: collapse;
    }

    table, th, td {
    border: 1px solid black;
    }

    table {
    width: 70%;
  }

    th {
    height: 20px;
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }


  </style>
</head>

<body>
  <div class="container col-6">



<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th>Fecha</th>
      <th>Supervisor</th>
      <th>Ducto P1 ascendente</th>
      <th>Ducto P2 ascendente</th>
      <th>CC54 P1</th>
      <th>CC54 P2</th>
      <th>CC54 Temp</th>
      <th>Quench P1</th>
      <th>Horno</th>
      <th>Jetin</th>
      <th>Mirillas</th>
      <th>SO3</th>
      <th>Tiempo(m)</th>
      <th>Observaciones</th>
  </tr>
</thead>
<tbody>
  <tr>
        <td><%= Soplado.last.fecha.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= Soplado.last.supervisor %></td>
        <td><%= Soplado.last.presion1 %></td>
        <td><%= Soplado.last.presion2 %></td>
        <td><%= Soplado.last.presion3 %></td>
        <td><%= Soplado.last.presion4 %></td>
        <td><%= Soplado.last.presion5 %></td>
        <td><%= Soplado.last.presion6 %></td>
        <td><%= Soplado.last.horno %></td>
        <td><%= Soplado.last.jetin ? 'Sí' : 'No' %></td>
        <td><%= Soplado.last.mirillas %></td>
        <td><%= Soplado.last.so3 %></td>
         <td><%= Soplado.last.tiempo %></td>
        <td><%= Soplado.last.observaciones %></td>

  </tr>
  <tr>
        <td><%= Soplado.order(:id).last(2).first.fecha.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= Soplado.order(:id).last(2).first.supervisor %></td>
        <td><%= Soplado.order(:id).last(2).first.presion1 %></td>
        <td><%= Soplado.order(:id).last(2).first.presion2 %></td>
        <td><%= Soplado.order(:id).last(2).first.presion3 %></td>
        <td><%= Soplado.order(:id).last(2).first.presion4 %></td>
        <td><%= Soplado.order(:id).last(2).first.presion5 %></td>
        <td><%= Soplado.order(:id).last(2).first.presion6 %></td>
        <td><%= Soplado.order(:id).last(2).first.horno %></td>
        <td><%= Soplado.order(:id).last(2).first.jetin ? 'Sí' : 'No' %></td>
        <td><%= Soplado.order(:id).last(2).first.mirillas %></td>
        <td><%= Soplado.order(:id).last(2).first.so3 %></td>
        <td><%= Soplado.order(:id).last(2).first.tiempo %></td>
        <td><%= Soplado.order(:id).last(2).first.observaciones %></td>

  </tr>
  <tr>
        <td><%= Soplado.order(:id).last(3).first.fecha.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= Soplado.order(:id).last(3).first.supervisor %></td>
        <td><%= Soplado.order(:id).last(3).first.presion1 %></td>
        <td><%= Soplado.order(:id).last(3).first.presion2 %></td>
        <td><%= Soplado.order(:id).last(3).first.presion3 %></td>
        <td><%= Soplado.order(:id).last(3).first.presion4 %></td>
        <td><%= Soplado.order(:id).last(3).first.presion5 %></td>
        <td><%= Soplado.order(:id).last(3).first.presion6 %></td>
        <td><%= Soplado.order(:id).last(3).first.horno %></td>
        <td><%= Soplado.order(:id).last(3).first.jetin ? 'Sí' : 'No' %></td>
        <td><%= Soplado.order(:id).last(3).first.mirillas %></td>
        <td><%= Soplado.order(:id).last(3).first.so3 %></td>
        <td><%= Soplado.order(:id).last(3).first.tiempo %></td>
        <td><%= Soplado.order(:id).last(3).first.observaciones %></td>

  </tr>
  <tr>
        <td><%= Soplado.order(:id).last(4).first.fecha.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= Soplado.order(:id).last(4).first.supervisor %></td>
        <td><%= Soplado.order(:id).last(4).first.presion1 %></td>
        <td><%= Soplado.order(:id).last(4).first.presion2 %></td>
        <td><%= Soplado.order(:id).last(4).first.presion3 %></td>
        <td><%= Soplado.order(:id).last(4).first.presion4 %></td>
        <td><%= Soplado.order(:id).last(4).first.presion5 %></td>
        <td><%= Soplado.order(:id).last(4).first.presion6 %></td>
        <td><%= Soplado.order(:id).last(4).first.horno %></td>
        <td><%= Soplado.order(:id).last(4).first.jetin ? 'Sí' : 'No' %></td>
        <td><%= Soplado.order(:id).last(4).first.mirillas %></td>
        <td><%= Soplado.order(:id).last(4).first.so3 %></td>
        <td><%= Soplado.order(:id).last(4).first.tiempo %></td>
        <td><%= Soplado.order(:id).last(4).first.observaciones %></td>

  </tr>


</tbody>
</table><br>

</body>
</html>

