<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #FFFFFF;margin: 0;padding: 0;">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->
  <title>Planit</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

  <style type="text/css">

    table {
    border-collapse: collapse;
    }

    table, th, td {
    border: 1px solid black;
    }

    table {
    width: 70%;
  }

    th {
    height: 20px;
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }


  </style>
</head>

<body>
  <div class="container col-6">



<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th>Fecha</th>
    <th>Supervisor</th>
    <th>Ducto P1 ascendente</th>
    <th>Ducto P2 ascendente</th>
    <th>CC54 P1</th>
    <th>CC54 P2</th>
    <th>CC54 Temp</th>
    <th>Quench P1</th>
    <th>Horno</th>
    <th>Carbón Horno (t/h)</th>
    <th>Carbón Precalcinador (t/h)</th>
    <th>Jetin</th>
    <th>Mirillas</th>
    <th>SO3</th>
    <th>Tiempo(m)</th>
    <th>Operadores</th>
    <th>Observaciones</th>
  </tr>
</thead>

<tbody>
  <% Soplado.order(id: :desc).limit(4).each do |soplado| %>
    <tr>
      <td><%= soplado.fecha.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= soplado.supervisor %></td>
      <td><%= soplado.presion1 %></td>
      <td><%= soplado.presion2 %></td>
      <td><%= soplado.presion3 %></td>
      <td><%= soplado.presion4 %></td>
      <td><%= soplado.presion5 %></td>
      <td><%= soplado.presion6 %></td>
      <td><%= soplado.horno %></td>
      <td><%= soplado.carbon_horno %></td>
      <td><%= soplado.carbon_precalcinador %></td>
      <td><%= soplado.jetin ? 'Sí' : 'No' %></td>
      <td><%= soplado.mirillas %></td>
      <td><%= soplado.so3 %></td>
      <td><%= soplado.tiempo %></td>
      <td><%= soplado.operadores %></td>
      <td><%= soplado.observaciones %></td>
    </tr>
  <% end %>
</tbody>

</table><br>

</body>
</html>

