<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #FFFFFF;margin: 0;padding: 0;">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  <!-- disable auto telephone linking in iOS -->
  <title>Planit</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

  <style type="text/css">

    table {
    border-collapse: collapse;
    }

    table, th, td {
    border: 1px solid black;
    }

    table {
    width: 40%;
  }

    th {
    height: 20px;
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }


</style>
</head>

<body>
  <div class="container col-6">
    <h1><u>Reporte medidas silos y stock</u></h1>
    <h2><%= Medida.last.created_at&.strftime("%d-%m-%y") %></h2>

<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Equipos</th>
    <th scope="col">Estado</th>
    <th scope="col">Estructural</th>
    <th scope="col">Motor</th>
    <th scope="col">Transmisión</th>
    <th scope="col">Hidraulico</th>
    <th scope="col">Electrico</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>OL01</td>
    <td><%= Unit.last&.o11 %></td>
    <td><%= Unit.last&.o12 %></td>
    <td><%= Unit.last&.o13 %></td>
    <td><%= Unit.last&.o14 %></td>
    <td><%= Unit.last&.o15 %></td>
    <td><%= Unit.last&.o16 %></td>
  </tr>
  <tr>
    <td>OL02</td>
    <td><%= Unit.last&.o21 %></td>
    <td><%= Unit.last&.o22 %></td>
    <td><%= Unit.last&.o23 %></td>
    <td><%= Unit.last&.o24 %></td>
    <td><%= Unit.last&.o25 %></td>
    <td><%= Unit.last&.o26 %></td>
  </tr>
  <tr>
    <td>OL09</td>
    <td><%= Unit.last&.o31 %></td>
    <td><%= Unit.last&.o32 %></td>
    <td><%= Unit.last&.o33 %></td>
    <td><%= Unit.last&.o34 %></td>
    <td><%= Unit.last&.o35 %></td>
    <td><%= Unit.last&.o36 %></td>
  </tr>
  <tr>
    <td>OL11</td>
    <td><%= Unit.last&.o41 %></td>
    <td><%= Unit.last&.o42 %></td>
    <td><%= Unit.last&.o43 %></td>
    <td><%= Unit.last&.o44 %></td>
    <td><%= Unit.last&.o45 %></td>
    <td><%= Unit.last&.o46 %></td>
  </tr>
  <tr>
    <td>EX01</td>
    <td><%= Unit.last&.o51 %></td>
    <td><%= Unit.last&.o52 %></td>
    <td><%= Unit.last&.o53 %></td>
    <td><%= Unit.last&.o54 %></td>
    <td><%= Unit.last&.o55 %></td>
    <td><%= Unit.last&.o56 %></td>
  </tr>
  <tr>
    <td>OK04</td>
    <td><%= Unit.last&.o61 %></td>
    <td><%= Unit.last&.o62 %></td>
    <td><%= Unit.last&.o63 %></td>
    <td><%= Unit.last&.o64 %></td>
    <td><%= Unit.last&.o65 %></td>
    <td><%= Unit.last&.o66 %></td>
  </tr>
</tbody>
</table><br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Equipo</th>
    <th scope="col">Stock (ton)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Especial sacos</td>
    <td> <%= Medida.last.especialsacos %></td>
  </tr>
  <tr>
    <td>Extra sacos</td>
    <td><%= Medida.last.extrsacos %></td>
  </tr>
  <tr>
    <td>Bigbag extra</td>
    <td><%= Medida.last.bigbagextra %></td>
  </tr>
  <tr>
    <td>Bigbag extra 1t</td>
    <td><%= Medida.last.bigbagextra1 %></td>
  </tr>
  <tr>
    <td>Extra peba 1350 </td>
    <td><%= Medida.last.bigbagextra1350 %></td>
  </tr>
  <tr>
    <td>Bigbag especial</td>
    <td><%= Medida.last.bigbagespecial %></td>

  </tr>
  <tr>
    <td>Bigbag super </td>
    <td><%= Medida.last.bigbagsuper %></td>
  </tr>
  <tr>
    <td>Bigbag plus </td>
    <td><%= Medida.last.bigbagplus %></td>
  </tr>
</tbody>
</table><br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Equipo</th>
    <th scope="col">Producción (sacos)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Haver</td>
    <td> <%= Medida.last.prodhaver %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td><%= Medida.last.prodvento %></td>
  </tr>
</tbody>
</table><br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Linea</th>
    <th scope="col">Tolva</th>
    <th scope="col">Producto</th>
    <th scope="col">Nivel tolva %</th>
    <th scope="col">Toneladas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 1 </td>
    <td><%= Medida.last.silos3000tolva1 %></td>
    <td><%= Medida.last.ns30001 %></td>
    <td><%= Medida.last.ns30001.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 4 </td>
    <td><%= Medida.last.silos3000tolva4 %></td>
    <td><%= Medida.last.ns30002 %></td>
    <td><%= Medida.last.ns30002.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Silos 3000</td>
    <td>Tolva 5 </td>
    <td><%= Medida.last.silos3000tolva5 %> </td>
    <td><%= Medida.last.ns30003 %></td>
    <td><%= Medida.last.ns30003.to_i * 75 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 1</td>
    <td><%= Medida.last.silosbigbag1 %></td>
    <td><%= Medida.last.nbb1 %></td>
    <td><%= Medida.last.nbb1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Bigbag </td>
    <td>Silo 2 </td>
    <td><%= Medida.last.silosbigbag2 %></td>
    <td><%= Medida.last.nbb2 %></td>
    <td><%= Medida.last.nbb2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 1</td>
    <td><%= Medida.last.silosvento1 %></td>
    <td><%= Medida.last.nvento1 %></td>
    <td><%= Medida.last.nvento1.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic</td>
    <td>Silo 2</td>
    <td><%= Medida.last.silovento2 %></td>
    <td><%= Medida.last.nvento2 %></td>
    <td><%= Medida.last.nvento2.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Ventomatic </td>
    <td>Silo 3</td>
    <td><%= Medida.last.silovento3 %></td>
    <td><%= Medida.last.nvento3 %></td>
    <td><%= Medida.last.nvento3.to_i * 150 / 100  %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td>Calle 5</td>
    <td><%= Medida.last.tolvacalle5 %></td>
    <td><%= Medida.last.otros %></td>
    <td><%= Medida.last.otros.to_i * 150 / 100  %></td>
  </tr>
</tbody>
</table>
<br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calles</th>
    <th scope="col">Operativas</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 27</td>
    <td><%= Medida.last.callesilo27 %></td>
  </tr>
  <tr>
    <td>Silo 28 </td>
    <td><%= Medida.last.callesilo28 %></td>
  </tr>
  <tr>
    <td>Planta 1</td>
    <td><%= Medida.last.callesplanta1 %></td>
  </tr>

</tbody>
</table>
</div>
  <br>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Calle</th>
    <th scope="col">Estado</th>
    <th scope="col">Cemento</th>
    <th scope="col">Comentarios</th>

  </tr>
</thead>
<tbody>
  <tr>
    <td>Silo 28 Calle 3</td>

    <td><%= Medida.last.s28c3op %></td>
    <td><%= Medida.last.s28c3cemento %></td>
    <td><%= Medida.last.s28c3nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 4</td>

    <td><%= Medida.last.s28c4op %></td>
    <td><%= Medida.last.s28c4cemento %></td>
    <td><%= Medida.last.s28c4nota %></td>
  </tr>
  <tr>
    <td>Silo 28 Calle 5</td>

    <td><%= Medida.last.s28c5op %></td>
    <td><%= Medida.last.s28c5cemento %></td>
    <td><%= Medida.last.s28c5nota %></td>
  </tr>
  <tr>
    <td>Silo 27 Calle 6</td>

    <td><%= Medida.last.s27c6op %></td>
    <td><%= Medida.last.s27c7cemento %></td>
    <td><%= Medida.last.s27c7nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Cale 1</td>

    <td><%= Medida.last.s30c1op %></td>
    <td><%= Medida.last.s30c1cemento %></td>
    <td><%= Medida.last.s30c1nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 4</td>

    <td><%= Medida.last.s30c4op %></td>
    <td><%= Medida.last.s30c4cemento %></td>
    <td><%= Medida.last.s30c4nota %></td>
  </tr>
  <tr>
    <td>Silos 3000 Calle 5</td>

    <td><%= Medida.last.s30c5op %></td>
    <td><%= Medida.last.s30c5cemento %></td>
    <td><%= Medida.last.s30c5nota %></td>
  </tr>

</tbody>
</table>
<br>

  <br>
  <br>
  <br>
  <br>


</body>
</body>
</html>











  </style>
</head>

<body>





<div class="card-deck">
<div class="card shadow">

<table id="" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
      <th>Equipo</th>
      <th>Estado</th>
      <th>Estructural</th>
      <th>Motor</th>
      <th>Transmisión</th>
      <th>Hidraulico</th>
      <th>Electrico</th>
    </tr>
  </thead>

  <tbody>


        </tr>

        </tr>

        </tr>

        </tr>

        </tr>

        </tr>

          <td>OK05</td>
          <td><%= Unit.last&.o71 %></td>
          <td><%= Unit.last&.o72 %></td>
          <td><%= Unit.last&.o73 %></td>
          <td><%= Unit.last&.o74 %></td>
          <td><%= Unit.last&.o75 %></td>
          <td><%= Unit.last&.o76 %></td>
        </tr>

          <td>BBC19</td>
          <td><%= Unit.last&.b11 %></td>
          <td><%= Unit.last&.b12 %></td>
          <td><%= Unit.last&.b13 %></td>
          <td><%= Unit.last&.b14 %></td>
          <td><%= Unit.last&.b15 %></td>
          <td><%= Unit.last&.b16 %></td>
        </tr>

          <td>BBC20</td>
          <td><%= Unit.last&.b21 %></td>
          <td><%= Unit.last&.b22 %></td>
          <td><%= Unit.last&.b23 %></td>
          <td><%= Unit.last&.b24 %></td>
          <td><%= Unit.last&.b25 %></td>
          <td><%= Unit.last&.b26 %></td>
        </tr>

          <td>BRR19</td>
          <td><%= Unit.last&.b31 %></td>
          <td><%= Unit.last&.b32 %></td>
          <td><%= Unit.last&.b33 %></td>
          <td><%= Unit.last&.b34 %></td>
          <td><%= Unit.last&.b35 %></td>
          <td><%= Unit.last&.b36 %></td>
        </tr>

          <td>BRR21</td>
          <td><%= Unit.last&.b41 %></td>
          <td><%= Unit.last&.b42 %></td>
          <td><%= Unit.last&.b43 %></td>
          <td><%= Unit.last&.b44 %></td>
          <td><%= Unit.last&.b45 %></td>
          <td><%= Unit.last&.b46 %></td>
        </tr>

          <td>HQ22</td>
          <td><%= Unit.last&.b51 %></td>
          <td><%= Unit.last&.b52 %></td>
          <td><%= Unit.last&.b53 %></td>
          <td><%= Unit.last&.b54 %></td>
          <td><%= Unit.last&.b55 %></td>
          <td><%= Unit.last&.b56 %></td>
        </tr>
        </tr>

          <td>CA01</td>
          <td><%= Unit.last&.b61 %></td>
          <td><%= Unit.last&.b62 %></td>
          <td><%= Unit.last&.b63 %></td>
          <td><%= Unit.last&.b64 %></td>
          <td><%= Unit.last&.b65 %></td>
          <td><%= Unit.last&.b66 %></td>
        </tr>
        </tr>
          <td>HQ03</td>
          <td><%= Unit.last&.h11 %></td>
          <td><%= Unit.last&.h12 %></td>
          <td><%= Unit.last&.h13 %></td>
          <td><%= Unit.last&.h14 %></td>
          <td><%= Unit.last&.h15 %></td>
          <td><%= Unit.last&.h16 %></td>
        </tr>

          <td>HQ12</td>
          <td><%= Unit.last&.h21 %></td>
          <td><%= Unit.last&.h22 %></td>
          <td><%= Unit.last&.h23 %></td>
          <td><%= Unit.last&.h24 %></td>
          <td><%= Unit.last&.h25 %></td>
          <td><%= Unit.last&.h26 %></td>
        </tr>

          <td>HQ13</td>
          <td><%= Unit.last&.h31 %></td>
          <td><%= Unit.last&.h32 %></td>
          <td><%= Unit.last&.h33 %></td>
          <td><%= Unit.last&.h34 %></td>
          <td><%= Unit.last&.h35 %></td>
          <td><%= Unit.last&.h36 %></td>
        </tr>

          <td>HQ21</td>
          <td><%= Unit.last&.h41 %></td>
          <td><%= Unit.last&.h42 %></td>
          <td><%= Unit.last&.h43 %></td>
          <td><%= Unit.last&.h44 %></td>
          <td><%= Unit.last&.h45 %></td>
          <td><%= Unit.last&.h46 %></td>
        </tr>

          <td>HQ23</td>
          <td><%= Unit.last&.h51 %></td>
          <td><%= Unit.last&.h52 %></td>
          <td><%= Unit.last&.h53 %></td>
          <td><%= Unit.last&.h54 %></td>
          <td><%= Unit.last&.h55 %></td>
          <td><%= Unit.last&.h56 %></td>
        </tr>

          <td>HQ24</td>
          <td><%= Unit.last&.h61 %></td>
          <td><%= Unit.last&.h62 %></td>
          <td><%= Unit.last&.h63 %></td>
          <td><%= Unit.last&.h64 %></td>
          <td><%= Unit.last&.h65 %></td>
          <td><%= Unit.last&.h66 %></td>
        </tr>

  </tbody>
</table>
<br>
<strong> Observaciones:</strong><br>
 <%= Unit.last&.observaciones %>
</div>

</div>
</html>
