<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Equipo: <%= @truck.codigo %></h3>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Marca:</dt>
        <dd class="col-sm-9"><%= @truck.marca %></dd>

        <dt class="col-sm-3">Modelo:</dt>
        <dd class="col-sm-9"><%= @truck.modelo %></dd>

        <dt class="col-sm-3">Año:</dt>
        <dd class="col-sm-9"><%= @truck.año %></dd>

        <dt class="col-sm-3">Planta:</dt>
        <dd class="col-sm-9"><%= @truck.planta %></dd>
      </dl>
    </div>
  </div>

  <div class="mt-5">
    <h4 class="text-secondary">Checklists mantenedor</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Fecha</th>
          <th>Operativo</th>
          <th>Horómetro</th>
          <th>Combustible</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
        <% @checklists.each do |checklist| %>
          <tr>
            <td><%= link_to checklist.created_at&.strftime("%d/%m/%Y %H:%M"), checklist_path(checklist) %></td>
            <td><%= checklist.operativo %></td>
            <td><%= checklist.horometro %></td>
            <td><%= checklist.combustible %></td>
            <td><%= checklist.nombre %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-5">
    <h4 class="text-secondary">Checklists Operador</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Fecha</th>
          <th>Operador</th>
          <th>Horómetro</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
        <% @equipos.each do |equipo| %>
          <tr>
            <td><%= link_to equipo.created_at&.strftime("%d/%m/%Y %H:%M"), equipo_path(equipo) %></td>
            <td><%= equipo.operador %></td>
            <td><%= equipo.horometro %></td>
            <td><%= equipo.comentarios %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-5">
    <h4 class="text-secondary">Mantenciones no programadas</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Mecánico</th>
          <th>Descripción</th>
          <th>Repuestos</th>
        </tr>
      </thead>
      <tbody>
        <% @mantencions.each do |mantencion| %>
          <tr>
            <td><%= link_to mantencion.desde&.strftime("%d/%m/%Y %H:%M"), mantencion_path(mantencion) %></td>
            <td><%= mantencion.hasta&.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= mantencion.mecanico %></td>
            <td><%= mantencion.descripcion %></td>
            <td><%= mantencion.repuestos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-5 mb-5">
    <h4 class="text-secondary">Mantenciones programadas</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Fecha</th>

          <th>Mecánico</th>
          <th>Descripción</th>
          <th>Duración (min)</th>
          <th>Repuestos</th>
        </tr>
      </thead>
      <tbody>
        <% @interventions.each do |intervention| %>
          <tr>
            <td><%= link_to intervention.created_at&.strftime("%d/%m/%Y %H:%M"), intervention_path(intervention) %></td>

            <td><%= intervention.mecanico %></td>
            <td><%= intervention.descripcion %></td>
            <td><%= intervention.duracion %></td>
            <td><%= intervention.repuestos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_truck_path(@truck) %>

