
<%= simple_form_for(@envasadora) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs offser-md-1">
    <div class="row">
      <div class="col-md-1 mb-2 "><%= f.input :stock_sacosespecial %></div>
      <div class="col-md-1 mb-1 "><%= f.input :stock_sacosextra %></div>
      <div class="col-md-1 mb-1 "><%= f.input :stock_bigbagespaecial %></div>
      <div class="col-md-1 mb-1 "><%= f.input :stock_bigbagextra %></div>
      <div class="col-md-1 mb-1 "><%= f.input :stock_bigbagplus %></div>
      <div class="col-md-1 mb-1"><%= f.input :stock_bigbagsuper %></div>
      </div>
    <%= f.input :produccion_haver %>
    <%= f.input :horas_disphaver %>
    <%= f.input :horas_efectivahaver %>
    <%= f.input :produccion_ventomatic %>
    <%= f.input :horas_dispventomatic %>
    <%= f.input :horas_efectivaventomatic %>
    <%= f.input :programa_especialsacos %>
    <%= f.input :programa_extrasacos %>
    <%= f.input :programa_especialbigbag %>
    <%= f.input :programa_extrabigbag %>
    <%= f.input :programa_extrabigbag1t %>
    <%= f.input :programa_plusbigbag %>
    <%= f.input :programa_superbigbag %>
    <%= f.input :despacho_especialsacos %>
    <%= f.input :despacho_extrasacos %>
    <%= f.input :despacho_especialbigbag %>
    <%= f.input :despacho_extrabigbag %>
    <%= f.input :despacho_extrabigbag1t %>
    <%= f.input :despacho_plusbigbag %>
    <%= f.input :despacho_superbigbag %>
    <%= f.input :medida1_silo19 %>
    <%= f.input :medida2_silo19 %>
    <%= f.input :medida1_silo20 %>
    <%= f.input :medida2_silo20 %>
    <%= f.input :medida1_silo21 %>
    <%= f.input :medida2_silo21 %>
    <%= f.input :medida1_silo22 %>
    <%= f.input :medida2_silo22 %>
    <%= f.input :medida_silo27 %>
    <%= f.input :medida_silo28 %>
    <%= f.input :medida_tolva5s28 %>
    <%= f.input :medida_tolva1vento %>
    <%= f.input :medida_tolva2vento %>
    <%= f.input :medida_tolva3vento %>
    <%= f.input :medida_tolva1bigbag %>
    <%= f.input :medida_tolva2bigbag %>
    <%= f.input :medida_tolva1s3000 %>
    <%= f.input :medida_tolva4s3000 %>
    <%= f.input :medida_tolva5s3000 %>
    <%= f.input :producto_tolva5s28 %>
    <%= f.input :producto_tolva1vento %>
    <%= f.input :producto_tolva2vento %>
    <%= f.input :producto_tolva3vento %>
    <%= f.input :producto_tolva1bigbag %>
    <%= f.input :producto_tolva2bigbag %>
    <%= f.input :producto_tolva1s3000 %>
    <%= f.input :producto_tolva4s3000 %>
    <%= f.input :producto_tolva5s3000 %>
    <%= f.input :programa_manthaver %>
    <%= f.input :ejecutado_manthaver %>
    <%= f.input :programa_mantvento %>
    <%= f.input :ejecutado_mantvento %>
    <%= f.input :programa_mantbigbag %>
    <%= f.input :ejecutado_mantbigbag %>
    <%= f.input :programa_mantgranel %>
    <%= f.input :ejecutado_mantgranel %>
    <%= f.input :programa_mantplanta1 %>
    <%= f.input :ejecutado_mantplanta1 %>
    <%= f.input :programa_mantenv %>
    <%= f.input :ejecutado_mantenv %>
    <%= f.input :adicional_manthaver %>
    <%= f.input :adicional_mantvento %>
    <%= f.input :adicional_mantbigbbag %>
    <%= f.input :adicional_mantgranel %>
    <%= f.input :adicional_mantp1 %>
    <%= f.input :adicional_mantenv %>
    <%= f.input :obs_manthaver %>
    <%= f.input :obs_mantvento %>
    <%= f.input :obs_mantbigbag %>
    <%= f.input :obs_mantgranel %>
    <%= f.input :obs_mantp1 %>
    <%= f.input :obs_mantenv %>
    <%= f.input :linea_tarearelevante %>
    <%= f.input :ot_tarearelevante %>
    <%= f.input :descripcion_tarearelevante %>
    <%= f.input :tipo_fallarelevante %>
    <%= f.input :hora_fallarelevante %>
    <%= f.input :descripcion_fallarelevante %>
    <%= f.input :descarga_materiaprima %>
    <%= f.input :respaldo_descargamateriaprima %>
    <%= f.input :excavadora %>
    <%= f.input :camion_tolva %>
    <%= f.input :barredora %>
    <%= f.input :bobcat %>
    <%= f.input :horquilla_serv %>
    <%= f.input :horquilla_haver %>
    <%= f.input :horquilla_vento %>
    <%= f.input :horquilla_cargabigbag %>
    <%= f.input :horquilla_llenadobigbag %>
    <%= f.input :horquilla_respaldo7t %>
    <%= f.input :horquilla_respaldo3t %>
    <%= f.input :cargador_descargacaliza %>
    <%= f.input :cargador_descargapuzolana %>
    <%= f.input :cargador_respaldo %>
    <%= f.input :cargador_patio %>
    <%= f.input :observaciones %>
    <%= f.input :fecha %>
    <%= f.input :observacion_prodhaver %>
    <%= f.input :observacion_prodvento %>
    <%= f.input :num_adicional %>
    <%= f.input :num_adicional2 %>
    <%= f.input :num_adicional3 %>
    <%= f.input :adicional %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
