
<%= simple_form_for(@gasto) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fecha %>
    <%= f.input :rend %>
    <%= f.input :tipo %>
    <%= f.input :num %>
    <%= f.input :descripcion %>
    <%= f.input :valor %>
    <%= f.input :iva %>
    <%= f.input :neto %>
    <%= f.input :cc %>
    <%= f.input :resp %>
    <%= f.input :familia %>
    <%= f.input :tipo %>
    <%= f.input :cot %>
    <%= f.input :aprobado %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
