

<table id="myTable" class="table table-responsive table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
<thead>
  <tr>
    <td>fecha</td>
    <td>tipo_documento</td>
    <td>folio</td>
    <td>emisor</td>
    <td>razon_social_emisor</td>
    <td>emision</td>
    <td>monto_total</td>
    <td>monto_neto</td>
    <td>monto_exento</td>
    <td>monto_iva</td>
    <td>rend </td>
    <td>cc </td>
    <td>tipo </td>
    <td>familia </td>
    <td>estado </td>
    <td>descripcion </td>
    <td>aprobado </td>
    <td>resp </td>
    <td>impuestos </td>
    <td>fecha_vencimiento </td>

  </tr>
</thead>

<tbody>
  <% @gastos.each do |gasto| %>
    <tr>
      <td><%= gasto.created_at%></td>
      <td><%= gasto.tipo_documento%></td>
      <td><%= gasto.folio%></td>
      <td><%= gasto.emisor%></td>
      <td><%= gasto.razon_social_emisor%></td>
      <td><%= gasto.emision%></td>
      <td><%= gasto.monto_total%></td>
      <td><%= gasto.monto_neto%></td>
      <td><%= gasto.monto_exento%></td>
      <td><%= gasto.monto_iva%></td>
      <td><%= gasto.rend %></td>
      <td><%= gasto.cc %></td>
      <td><%= gasto.tipo %></td>
      <td><%= gasto.familia %></td>
      <td><%= gasto.estado %></td>
      <td><%= gasto.descripcion %></td>
      <td><%= gasto.aprobado %></td>
      <td><%= gasto.resp %></td>
      <td><%= gasto.impuestos %></td>
      <td><%= gasto.fecha_vencimiento %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
