
<div>
  <h4>Importar facturas</h4>
  <%= form_tag import_gastos_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Importar archivo" %>
  <% end %>
</div>



<h1>Gastos</h1>

<table class="table table-responsive table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>tipo_documento</th>
      <th>folio</th>
      <th>emisor</th>
      <th>razon_social_emisor</th>
      <th>emision</th>
      <th>monto_neto</th>
      <th>monto_exento</th>
      <th>monto_iva</th>
      <th>monto_total</th>
      <th>Rend</th>
      <th>Descripcion</th>
      <th>Cc</th>
      <th>Resp</th>
      <th>Familia</th>
      <th>Cot</th>
      <th>Estado</th>
      <th>ID</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.tipo %></td>
        <td><%= gasto.tipo_documento%></td>
        <td><%= gasto.folio%></td>
        <td><%= gasto.emisor%></td>
        <td><%= gasto.razon_social_emisor%></td>
        <td><%= gasto.emision%></td>
        <td><%= gasto.monto_neto%></td>
        <td><%= gasto.monto_exento%></td>
        <td><%= gasto.monto_iva%></td>
        <td><%= gasto.monto_total%></td>
        <td><%= gasto.rend %></td>
        <td><%= gasto.descripcion %></td>
        <td><%= gasto.cc %></td>
        <td><%= gasto.resp %></td>
        <td><%= gasto.familia %></td>
        <td><%= gasto.cot %></td>
        <td><%= gasto.estado %></td>
        <td><%= gasto.aprobado %></td>

        <td class="text-center">
          <button type="button" class="btn btn-sm btn-secondary mr-2 command-edit shadow p-1 mb-1 rounded">
          <%= link_to "", gasto, class: 'fa fa-eye fa-fw text-light'%>
          </button>
          <button type="button" class="btn btn-sm btn-success mr-2 command-edit shadow p-1 mb-1 rounded">
          <%= link_to "", edit_gasto_path(gasto), class: "fa fa-edit fa-fw text-light"%>
          </button>
          <% if current_user.superadmin_role? %>
          <button type="button" class="btn btn-sm btn-danger mr-2 command-delete shadow p-1 mb-1 rounded">
            <%= link_to "", gasto, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-fw text-light" %>
          </button>
          <button type="button" class="btn btn-sm btn-primary mr-2 command-delete shadow p-1 mb-1 rounded">
            <%= link_to 'd', gasto, action: dup,  class: "fa fa-trash fa-fw text-light" %>
          </button>

          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Gasto', new_gasto_path, class: "btn btn-primary shadow" %>
