<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @gasto.fecha %>
</p>

<p>
  <strong>Rend:</strong>
  <%= @gasto.rend %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @gasto.tipo %>
</p>

<p>
  <strong>Num:</strong>
  <%= @gasto.num %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @gasto.descripcion %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @gasto.valor %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @gasto.iva %>
</p>

<p>
  <strong>Neto:</strong>
  <%= @gasto.neto %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @gasto.cc %>
</p>

<p>
  <strong>Resp:</strong>
  <%= @gasto.resp %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @gasto.familia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @gasto.tipo %>
</p>

<p>
  <strong>Cot:</strong>
  <%= @gasto.cot %>
</p>

<p>
  <strong>Aprobado:</strong>
  <%= @gasto.aprobado %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @gasto.estado %>
</p>

<%= link_to 'Edit', edit_gasto_path(@gasto) %> |
<%= link_to 'Back', gastos_path %>
