
    <table id="myTable" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Area</th>
        <th>Autoriza</th>
        <th>He</th>
        <td>HI</td>
        <td>HT</td>
        <th>Ot</th>
        <th>Lugar</th>
        <th>Descripcion</th>
        <th>Personal</th>
        <th>T</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @horas.each do |hora| %>
      <tr>
        <td><%= hora.fecha.strftime('%Y-%m-%d') %></td>
        <td><%= hora.area %></td>
        <td><%= hora.mandante %></td>
        <td><%= hora.he %></td>
        <td><%= hora.inicio.strftime('%H:%M') if hora.inicio.present? %></td>
        <td><%= hora.termino.strftime('%H:%M') if hora.termino.present? %></td>
        <td><%= hora.ot %></td>
        <td><%= hora.lugar %></td>
        <td><%= hora.descripcion %></td>
        <td><%= hora.personal %></td>
        <td><%= hora.traslado%></td>
        <td><%= hora.estado %></td>
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-secondary command-edit shadow p-1 rounded">
          <%= link_to "", hora, class: 'fa fa-eye fa-fw text-light'%>
          </button>

          <% if hora.estado != "Aprobada" %>
          <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
          <%= link_to "", edit_hora_path(hora), class: "fa fa-edit fa-fw text-light"%>
          </button>
          <% end %>

          <!-- <% if current_user.superadmin_role? %>
          <button type="button" class="btn btn-sm btn-danger command-delete shadow p-1 rounded">
            <%= link_to "", hora, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-fw text-light" %>
          </button>

          <% end %> -->

          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
