<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @hora.fecha %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @hora.descripcion %>
</p>

<p>
  <strong>Area:</strong>
  <%= @hora.area %>
</p>

<p>
  <strong>Personal:</strong>
  <%= @hora.personal %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @hora.inicio %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @hora.termino %>
</p>

<p>
  <strong>He:</strong>
  <%= @hora.he %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @hora.ot %>
</p>

<p>
  <strong>Traslado:</strong>
  <%= @hora.traslado %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @hora.lugar %>
</p>

<p>
  <strong>Mandante:</strong>
  <%= @hora.mandante %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @hora.estado %>
</p>

<%= link_to 'Edit', edit_hora_path(@hora) %> |
<%= link_to 'Back', horas_path %>
