<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="<%= root_path %>">Impromaq ERP</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">

        <div class="user-info">
            <% if user_signed_in? %>
            <div class="user-pic">
            <a href="<%= root_path %>">
          <img class="img-responsive img-rounded" src="/logo.png" alt="User picture">
          </a>
        </div>
            <span class="user-status">
            <%= current_user.email %><br>
            <i class="fa fa-circle"></i>
            <span>Online</span><br>
            <span>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <% else %>
            <strong>Usuario</strong>
          </span>
            <span class="user-status">
            <i class="fa fa-circle text-danger"></i>
            <span>Offline</span><br>
            <span>
            <%= link_to "Login", new_user_session_path %>
            <% end %></span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->

      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <% if user_signed_in? %>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>R.Humanos</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= requerimientos_path %>">Consultas</a>
                </li>
                <li>
                  <a href="<%= entregas_path %>">Entregas</a>
                </li><!--
                <li>
                  <a href="#">PTM</a>
                </li>
                <li>
                  <a href="#">VTS</a>
                </li>
                <li>
                  <a href="#">PAR</a>
                </li> -->
              </ul>
            </div>
          </li>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Horas Extra</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= horas_path %>">Indice</a>
                </li>
                <li>
                  <a href="<%= serv_path %>">HE Serv. PTM</a>
                </li>
                <li>
                  <a href="<%= mec_path %>">HE Mant. PTM</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Cotizaciones</span></a>
            <div class="sidebar-submenu">
              <ul><li><a href="<%= trabajos_path %>">Indice</a></li>
                  <li><a href="<%= lca_path %>">LCA</a></li>
                <li><a href="<%= vts_path %>">VTS</a></li>
                <li><a href="<%= ptm_path %>">PTM</a></li>
                <li><a href="<%= par_path %>">PAR</a></li>
              </ul>
            </div>
          </li>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>En ejecucción</span></a>
            <div class="sidebar-submenu">
              <ul><li><a href="<%= indexejec_path %>">Indice</a></li>
                  <li><a href="<%= lcaejec_path %>">LCA</a></li>
                <li><a href="<%= vtsejec_path %>">VTS</a></li>
                <li><a href="<%= ptmejec_path %>">PTM</a></li>
                <li><a href="<%= parejec_path %>">PAR</a></li>
              </ul>
            </div>
          </li>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Terminado</span></a>
            <div class="sidebar-submenu">
              <ul><li><a href="<%= indexop_path %>">Indice</a></li>
                  <li><a href="<%= lcaop_path %>">LCA</a></li>
                <li><a href="<%= vtsop_path %>">VTS</a></li>
                <li><a href="<%= ptmop_path %>">PTM</a></li>
                <li><a href="<%= parop_path %>">PAR</a></li>
              </ul>
            </div>
          </li>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Facturado</span></a>
            <div class="sidebar-submenu">
              <ul><li><a href="<%= indexfact_path %>">Indice</a></li>
                  <li><a href="<%= lcafact_path %>">LCA</a></li>
                <li><a href="<%= vtsfact_path %>">VTS</a></li>
                <li><a href="<%= ptmfact_path %>">PTM</a></li>
                <li><a href="<%= parfact_path %>">PAR</a></li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-chart-line"></i>
              <span>Gastos</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= gastos_path %>">Gastos</a>
                </li>
                <li>
                  <a href="#">Ordenes de Compra</a>
                </li>
                <li>
                  <a href="#">Guias de despacho</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Checklist</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= equipos_path %>">Indice operador</a>
                </li>
                <li>
                  <a href="<%= checklists_path %>">Indice Mecánico</a>
                </li>
                <li>
                  <a href="<%= barcos_path %>">Indice Barco</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Otros</span></a>
            <div class="sidebar-submenu">
              <ul>
                <li><a href="<%= envasadoras_path %>">Reporte ENV</a></li>
              </ul>
              <ul>
                <li><a href="<%= medidas_path %>">Medidas Silos</a></li>
              </ul>
              <ul>
                <li><a href="">A</a></li>
              </ul>
              <ul>
                <li><a href="">B</a></li>
              </ul>
              <ul>
                <li><a href="">C</a></li>
              </ul>
            </div>
          </li>
          <% end %>
          <li class="header-menu">
            <span>Acceso directo</span>
          </li>
          <li>
            <a href="<%= new_requerimiento_path %>">
              <i class="fa fa-book"></i>
              <span>RRHH</span>
            </a>
          </li>
          <li>
            <a href="<%= new_barco_path %>">
              <i class="fa fa-book"></i>
              <span>Checklist Puerto</span>
            </a>
          </li>
          <li>
            <a href="<%= new_equipo_path %>">
              <i class="fa fa-book"></i>
              <span>Checklist OP</span>
            </a>
          </li>
          <li>
            <a href="<%= new_checklist_path %>">
              <i class="fa fa-calendar"></i>
              <span>Checklist MEC</span>
            </a>
          </li>
          <li>
            <a href="<%= new_medida_path %>">
              <i class="fa fa-calendar"></i>
              <span>Medida Silos</span>
            </a>
          </li>
          <li>
            <a href="<%= new_medida_path %>">
              <i class="fa fa-folder"></i>
              <span>Cotizacion</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>

  </nav>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
$(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});


if (screen.width < 500) {
	$(".page-wrapper").removeClass("toggled");
}

</script>
