<p id="notice"><%= notice %></p>

<h1>Personal</h1>

<table id="myTable" class="table  table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Dv</th>
      <th>Nombre</th>
      <th>Contratado</th>
      <th>Evaluacion</th>
      <th>Comentarios</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personals.each do |personal| %>
      <tr>
        <td><%= personal.rut %></td>
        <td><%= personal.dv %></td>
        <td><%= personal.nombre %></td>
        <td><%= personal.contratado %></td>
        <td><%= personal.evaluacion %></td>
        <td><%= personal.comentarios %></td>
        <td><%= link_to 'Show', personal %></td>
        <td><%= link_to 'Edit', edit_personal_path(personal) %></td>
        <td><%= link_to 'Destroy', personal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal', new_personal_path, class: "btn-primary" %>
