<div class="card-deck">
<div class="card shadow">

<table id="" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Planta</th>
      <th>Checklist Mantenedor</th>
      <th>Checklist Operador</th>
      <th>Mantención</th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.codigo %></td>
        <td><%= truck.planta %></td>
        <td>
          <%= truck.checklist.last&.created_at&.strftime("%d-%m") %> / 
          <%= truck.checklist.last&.horometro %>
        </td>
        <td>
          <%= truck.equipo.last&.created_at&.strftime("%d-%m") %> / 
          <%= truck.equipo.last&.horometro %>
          <%= truck.equipo.last&.operador %>
        </td>
        <td><%= truck.intervention.last&.created_at&.strftime("%d-%m") %> </td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>