<div class="card-deck">
<div class="card shadow">

<table id="" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Planta</th>
      <th>Checklist</th>
      <th>Checklist</th>
      <th>Equipo</th>
      <th>Equipo</th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.codigo %></td>
        <td><%= truck.planta %></td>
        <td><%= truck.checklist.last&.created_at&.strftime("%Y-%m-%d") %></td>
        <td><%= truck.checklist.last&.horometro %></td>
        <td><%= truck.equipo.last&.created_at&.strftime("%Y-%m-%d") %></td>
        <td><%= truck.equipo.last&.horometro %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>