<h2>Checklist</h2>
<div class="card-deck">
  <div class="card shadow">
    <table class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Estado</th>
          <th>Checklist Mantenedor</th>
          <th>Checklist Operador</th>
          <th>Intervenciones</th>
          <th>Planta</th>
        </tr>
      </thead>

      <tbody>
        <% if @trucks.present? %>
          <% @trucks.sort_by(&:planta).each do |truck| %>
            <tr>
              <td><a href="<%= truck_path(truck.id) %>"><%= truck.codigo %></a></td>
              <td>
                <%= truck.checklists&.last&.operativo %>
              </td>
              <td>
                <% if truck.checklists&.last %>
                  <a href="<%= checklist_path(truck.checklists.last.id) %>">
                    <%= truck.checklists.last.created_at.strftime("%d-%m-%Y") %> /
                    <%= truck.checklists.last.horometro %>
                  </a>
                <% end %>
              </td>
              <td>
                <% if truck.equipos&.last %>
                  <a href="<%= equipo_path(truck.equipos.last.id) %>">
                    <%= truck.equipos.last.created_at.strftime("%d-%m-%Y") %> /
                    <%= truck.equipos.last.horometro %>
                    <%= truck.equipos.last.operador %>
                    <% if truck.equipos.last.comentarios.present? %>
                      <i class="fa fa-folder text-success"></i>
                    <% end %>
                    <% equipo = truck.equipos.last %>
                    <% if equipo && [equipo.c1, equipo.c2, equipo.c3, equipo.c4, equipo.c5, equipo.c6, equipo.c7, equipo.c8, equipo.c9, equipo.c10, equipo.c11, equipo.c12, equipo.c13, equipo.c14, equipo.c15, equipo.c16].any? { |c| ["No(leve)"].include?(c) } %>
                      <i class="fa fa-cogs text-primary"></i>
                      <% equipo = truck.equipos.last %>
                    <% if equipo && [equipo.c1, equipo.c2, equipo.c3, equipo.c4, equipo.c5, equipo.c6, equipo.c7, equipo.c8, equipo.c9, equipo.c10, equipo.c11, equipo.c12, equipo.c13, equipo.c14, equipo.c15, equipo.c16].any? { |c| ["No(grave)"].include?(c) } %>
                      <i class="fa fa-cog text-danger"></i>
                    <% end %>
                    <% end %>
                  </a>
                <% end %>
              </td>
              <td>
                <% if truck.interventions&.last %>
                  <a href="<%= intervention_path(truck.interventions.last.id) %>">
                    <%= truck.interventions.last.created_at.strftime("%d-%m-%Y") %>
                    <%= truck.interventions.last.mecanico %>
                  </a>
                <% end %>
              </td>
              <td><%= truck.planta %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">No hay equipos registrados.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
