<h2>Checklist</h2>
<div class="card-deck">
  <div class="card shadow">
    <table class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Estado</th>
          <th>Checklist Mantenedor</th>
          <th>Checklist Operador</th>
          <th>Intervenciones</th>
          <th>Planta</th>
        </tr>
      </thead>

      <tbody>
        <% if @trucks.present? %>
          <% @trucks.sort_by(&:planta).each do |truck| %>
            <tr>
              <td><a href="<%= truck_path(truck.id) %>"><%= truck.codigo %></a></td>
              <td>
                <%= truck.checklists&.last&.operativo %>
              </td>
              <td>
                <% if truck.checklists&.last %>
                  <a href="<%= checklist_path(truck.checklists.last.id) %>">
                    <%= truck.checklists.last.created_at.strftime("%d-%m") %> /
                    <%= truck.checklists.last.horometro %>
                  </a>
                <% end %>
              </td>
              <td>
                <% if truck.equipos&.last %>
                  <a href="<%= equipo_path(truck.equipos.last.id) %>">
                    <%= truck.equipos.last.created_at.strftime("%d-%m") %> /
                    <%= truck.equipos.last.horometro %>
                    <%= truck.equipos.last.operador %>
                    <% if truck.equipos.last.comentarios.present? %>
                      <i class="fa fa-folder text-danger"></i>
                    <% end %>
                  </a>
                <% end %>
              </td>
              <td>
                <% if truck.interventions&.last %>
                  <a href="<%= intervention_path(truck.interventions.last.id) %>">
                    <%= truck.interventions.last.created_at.strftime("%d-%m") %>
                    <%= truck.interventions.last.mecanico %>
                  </a>
                <% end %>
              </td>
              <td><%= truck.planta %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">No hay equipos registrados.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
