<!-- Main content -->
<section>
  <div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-header">
            <a href="<%= indexop_path %>">
            <h4 class="card-title">Trabajos terminados</h5>
            </a>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <!-- <p class="text-center">
                  <strong>Producción: 23 de Marzo, 2020 al  30 de Marzo, 2020</strong>
                </p> -->

                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <canvas id="myChart" height="120" style="height: 180px;"></canvas>
                </div>
                <!-- /.chart-responsive -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <!-- <p class="text-center">
                  <strong>Metas</strong>
                </p> -->

                <div class="progress-group">
                  Turno A
                  <span class="float-right"><b>10000</b>/1200</span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 80%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->

                <div class="progress-group">
                  Turno B
                  <span class="float-right"><b>710</b>/12000</span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-danger" style="width: 75%"></div>
                  </div>
                </div>

                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Turno C</span>
                  <span class="float-right"><b>880</b>/12000</span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-success" style="width: 60%"></div>
                  </div>
                </div>

                <!-- /.progress-group -->

                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success"><i class="fas fa-caret-up "></i> 17%</span>
                  <h5 class="description-header">1.200 t</h5>
                  <span class="description-text">Stock promedio</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                  <h5 class="description-header">800 t</h5>
                  <span class="description-text">Despacho  promedio</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                  <h5 class="description-header">1.200 t </h5>
                  <span class="description-text">Produccion promedio</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block">
                  <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                  <h5 class="description-header">55 de 76</h5>
                  <span class="description-text">Tareas mantención</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
<br>




<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', "Octubre", "Noviembre", "Diciembre∫"],
        datasets: [{
            label: 'VTS',
            backgroundColor: 'rgb(44, 166, 77, 0.3)',
            borderColor: 'rgb(44, 166, 77, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        },{
            label: 'LCA',
            backgroundColor: 'rgb(222, 51, 69, 0.3)',
            borderColor: 'rgb(222, 51, 69, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        }, {
            label: 'PTM',
            backgroundColor: 'rgb(0, 131, 251, 0.3)',
            borderColor: 'rgb(0, 131, 251, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>
