<!-- Main content -->
<section>
  <div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-header">
            <h4 class="card-title">Trabajos terminados</h5>


          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <!-- <p class="text-center">
                  <strong>Producci칩n: 23 de Marzo, 2020 al  30 de Marzo, 2020</strong>
                </p> -->

                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <canvas id="myChart" height="120" style="height: 180px;"></canvas>
                </div>
                <!-- /.chart-responsive -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <!-- <p class="text-center">
                  <strong>Metas</strong>
                </p> -->

                <div class="progress-group">
                  Puerto Montt (Mes / A침o)
                  <span class="float-right">
                    <b>
                  <%= number_with_delimiter(Trabajo.where(planta: "Ventanas")&.sum(:total), delimiter: ".")  %>
                    </b>
                  </span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary" style="width: 100%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->

                <div class="progress-group">
                  La Calera (Mes / A침o)
                  <span class="float-right">
                    <b>
                  <%= number_with_delimiter(Trabajo.where(planta: "La Calera")&.sum(:total), delimiter: ".")  %>
                    </b>
                  </span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-danger" style="width: 100%"></div>
                  </div>
                </div>

                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Ventanas (Mes / A침o)</span>
                  <span class="float-right">
                    <b>
                  <%= number_with_delimiter(Trabajo.where(planta: "Ventanas")&.sum(:total), delimiter: ".")  %>
                    </b>
                  </span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-success" style="width: 100%"></div>
                  </div>
                </div>

                <!-- /.progress-group -->

                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->

        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
<br>




<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', "Octubre", "Noviembre", "Diciembre"],
        datasets: [{
            label: 'VTS',
            backgroundColor: 'rgb(44, 166, 77, 0.3)',
            borderColor: 'rgb(44, 166, 77, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "Ventanas")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        },{
            label: 'LCA',
            backgroundColor: 'rgb(222, 51, 69, 0.3)',
            borderColor: 'rgb(222, 51, 69, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "La Calera")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        }, {
            label: 'PTM',
            backgroundColor: 'rgb(0, 131, 251, 0.3)',
            borderColor: 'rgb(0, 131, 251, 0.3)',
            data: [
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Mar-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Abr-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "May-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Jun-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Jul-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Ago-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Sep-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Oct-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Nov-20")&.sum(:total) %>,
                    <%= Trabajo.where(planta: "P.Montt")&.where(fecha_termino: "Dic-20")&.sum(:total) %>,
                  ]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>
