
        <div class="card">
          <div class="card-header border-transparent">
            <h5 class="card-title h2"><strong>Equipos moviles</strong></h5>
            <div class="card-tools">
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Equipo</th>
                  <th>Status</th>
                  <th>Ultima Mantención</th>
                  <th>Ultimo Checklist</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><a href="pages/examples/invoice.html">BRR17</a></td>
                  <td>Barredora Ventanas</td>
                  <td><span class="badge badge-success">Operativo</span></td>
                  <td></td>
                  <td>
                      <%= Equipo.where(nombre: "BRR17")&.last&.created_at&.strftime("%d-%m-%Y") %>
                      <i class="far fa-clock"></i> <%= Equipo.where(nombre: "BRR17")&.last&.horometro %>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">HQPTA31</a></td>
                  <td>Horquilla Env 7t Puerto Montt</td>
                  <td><span class="badge badge-success">Operativo</span></td>
                  <td></td>
                  <td>
                      <%= Equipo.where(nombre: "HQPTA31")&.last&.created_at&.strftime("%d-%m-%Y") %>
                      <i class="far fa-clock"></i> <%= Equipo.where(nombre: "HQPTA31")&.last&.horometro %>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">HQPTA32</a></td>
                  <td>Horquilla Patio 7t Puerto Montt</td>
                  <td><span class="badge badge-success">Operativo</span></td>
                  <td></td>
                  <td>
                      <%= Equipo.where(nombre: "HQPTA32")&.last&.created_at&.strftime("%d-%m-%Y") %>
                      <i class="far fa-clock"></i> <%= Equipo.where(nombre: "HQPTA32")&.last&.horometro %>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">HQPTA33</a></td>
                  <td>Horquilla BigBag 3t Puerto Montt</td>
                  <td><span class="badge badge-success">Operativo</span></td>
                  <td></td>
                  <td>
                      <%= Equipo.where(nombre: "HQPTA33")&.last&.created_at&.strftime("%d-%m-%Y") %>
                      <i class="far fa-clock"></i> <%= Equipo.where(nombre: "HQPTA33")&.last&.horometro %>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OL03</a></td>
                  <td>Cargador frontal Puerto Montt</td>
                  <td><span class="badge badge-success">Operativo</span></td>
                  <td></td>
                  <td>
                      <%= Equipo.where(nombre: "OL03")&.last&.created_at&.strftime("%d-%m-%Y") %>
                      <i class="far fa-clock"></i> <%= Equipo.where(nombre: "OL03")&.last&.horometro %>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">EX01</a></td>
                  <td>Ejemplo 1</td>
                  <td><span class="badge badge-info">Observaciones</span></td>
                  <td><div class="sparkbar" data-color="#00c0ef" data-height="20"></div></td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">EX02</a></td>
                  <td>Ejemplo 2</td>
                  <td><span class="badge badge-danger">Fuera de servicio</span></td>
                  <td><div class="sparkbar" data-color="#f56954" data-height="20"></div></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
