<div class="card-deck pt-0">

  <% [
    { nombre: "LCA", planta: "La Calera", path_prefix: "lca" },
    { nombre: "VTS", planta: "Ventanas",  path_prefix: "vts" },
    { nombre: "PTM", planta: "P.Montt",   path_prefix: "ptm" },
    { nombre: "PUQ", planta: "P.Arenas",  path_prefix: "par" }
  ].each do |planta_info| %>

    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-file-invoice-dollar text-success"></i> Venta <%= planta_info[:nombre] %>
        </h5>
        <p class="card-text">
          <!-- En ejecución -->
          <a href="<%= send("#{planta_info[:path_prefix]}ejec_path") %>">
            <%= number_to_currency(@ventas_en_ejecucion[planta_info[:planta]] || 0, delimiter: ".", precision: 0) %> En ejecucción
          </a><br>

          <!-- Últimos 4 meses -->
          <% (0..3).each do |i| %>
            <% mes = Date.today.beginning_of_month - i.month %>
            <a href="<%= send("#{planta_info[:path_prefix]}ventames#{i.zero? ? '' : "#{i}m"}_path") %>">
              <%= number_to_currency(@ventas_por_mes[[planta_info[:planta], mes]] || 0, delimiter: ".", precision: 0) %>
              <%= mes.strftime("%B") %><br>
            </a>
          <% end %>
        </p>
      </div>
    </div>

  <% end %>

</div>

