
<%= simple_form_for(@equipo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

  <div class="col-md-4 mb-4 justify-center">
    <%= f.input :nombre, collection: ["OL03", "HQPTA31", "HQPTA32","HQPTA33", "BRR17", "BRR20", "HQPTA21", "HQPTA22"], label: 'Equipo' %>
    <%= f.input :operador %>
    <%= f.input :horometro %>
    <%= f.input :c17, collection: [ "LCA", "PTM", "VTS", "PAM", "Otros"], label: 'Planta' %>
    <%= f.input :c1, collection: [ "Si", "No", "No aplica"], label: 'Revisó fugas' %>
    <%= f.input :c2, collection: [ "Si", "No", "No aplica"], label: 'Revisó Pernos sueltos o quebraduras' %>
    <%= f.input :c3, collection: [ "Si", "No", "No aplica"], label: 'Responden todos los movimientos' %>
    <%= f.input :c4, collection: [ "Si", "No", "No aplica"], label: 'Funcionan correctamente los frenos' %>
    <%= f.input :c5, collection: [ "Si", "No", "No aplica"], label: 'Reviso estado pasadores' %>
    <%= f.input :c6, collection: [ "Si", "No", "No aplica"], label: 'Todos los espejos estan operativos' %>
    <%= f.input :c7, collection: [ "Si", "No", "No aplica"], label: 'Cinturon de seguridad operativo' %>
    <%= f.input :c8, collection: [ "Si", "No", "No aplica"], label: 'Neumaticos en buen estado' %>
    <%= f.input :c9, collection: [ "Si", "No", "No aplica"], label: 'Funciona alarma de retroseso' %>
    <%= f.input :c10, collection: [ "Si", "No", "No aplica"], label: 'Funciona bocina' %>
    <%= f.input :c11, collection: [ "Si", "No", "No aplica"], label: 'Funcionan luces' %>
    <%= f.input :c12, collection: [ "Si", "No", "No aplica"], label: 'Revisó que no tenga alarmas' %>
    <%= f.input :c13, collection: [ "Si", "No", "No aplica"], label: 'Se realizo engrase equipo' %>
    <%= f.input :c14, collection: [ "Si", "No", "No aplica"], label: 'Parabrisas en perfecto estado' %>
    <%= f.input :c15, collection: [ "Si", "No", "No aplica"], label: 'El equipo cuenta con pertiga' %>
    <%= f.input :c16, collection: [ "Si", "No", "No aplica"], label: 'Exintor operativo' %>
    <%= f.input :comentarios %>
  </div>
  </div>

  <div class="form-actions">

    <%= f.button :submit, "Enviar Checklist", class: "btn-primary" %>
  </div>
<% end %>
