



  <table id="myTable" class="table table-responsive table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Operador</th>
      <th>Horometro</th>
      <th>Planta</th>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
      <th>C4</th>
      <th>C5</th>
      <th>C6</th>
      <th>C7</th>
      <th>C8</th>
      <th>C9</th>
      <th>C10</th>
      <th>C11</th>
      <th>C12</th>
      <th>C13</th>
      <th>C14</th>
      <th>C15</th>
      <th>C16</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
        <td><%= equipo.truck&.codigo %></td>
        <td><%= equipo.created_at.strftime("%m/%d/%y") %></td>
        <td><%= equipo.operador %></td>
        <td><%= equipo.horometro %></td>
        <td><%= equipo.c17 %></td>
        <td><%= equipo.c1 %></td>
        <td><%= equipo.c2 %></td>
        <td><%= equipo.c3 %></td>
        <td><%= equipo.c4 %></td>
        <td><%= equipo.c5 %></td>
        <td><%= equipo.c6 %></td>
        <td><%= equipo.c7 %></td>
        <td><%= equipo.c8 %></td>
        <td><%= equipo.c9 %></td>
        <td><%= equipo.c10 %></td>
        <td><%= equipo.c11 %></td>
        <td><%= equipo.c12 %></td>
        <td><%= equipo.c13 %></td>
        <td><%= equipo.c14 %></td>
        <td><%= equipo.c15 %></td>
        <td><%= equipo.c16 %></td>

        <td class="text-center">
          <button type="button" class="btn btn-sm btn-secondary command-edit shadow p-1 rounded">
          <%= link_to "", equipo, class: 'fa fa-eye fa-fw text-light'%>
          </button>


          <!-- <% if current_user.superadmin_role? %>
          <button type="button" class="btn btn-sm btn-danger command-delete shadow p-1 rounded">
            <%= link_to "", equipo, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-fw text-light" %>
          </button>

          <% end %> -->

          </td>
        <!-- <td><%= link_to 'Show', equipo %></td>
        <td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
        <td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
