


Si <%= @test["Si"].to_i %> - <%= @test["Si"].to_i * 1 %> Puntos <br>
No leve <%= @test["No(leve)"].to_i %> - <%= @test["No(leve)"].to_i * 0.5 %> Puntos <br>
No grave <%= @test["No(grave)"].to_i %> - 0 Puntos <br>
No Aplica <%= @test["No aplica"].to_i %> <br>
<br>
Porcentaje equipo <%= ((@test["Si"].to_i * 1.0 + @test["No(leve)"].to_i * 0.5) / (@test["Si"].to_i + @test["No(leve)"].to_i + @test["No(grave)"].to_i) ) * 100 %>
<br>
<br>


<p>
  <strong>Nombre:</strong>
  <%= @equipo.truck&.codigo %>
</p>

<p>
  <strong>Operador:</strong>
  <%= @equipo.operador %>
</p>

<p>
  <strong>Horometro:</strong>
  <%= @equipo.horometro %>
</p>

<p>
  <strong>Planta</strong>
  <%= @equipo.c17 %>
</p>

<p>
  <strong>Revisó fugas</strong>
  <%= @equipo.c1 %>
</p>

<p>
  <strong>Revisó Pernos sueltos o quebraduras</strong>
  <%= @equipo.c2 %>
</p>

<p>
  <strong>Responden todos los movimientos</strong>
  <%= @equipo.c3 %>
</p>

<p>
  <strong>Funcionan correctamente los frenos</strong>
  <%= @equipo.c4 %>
</p>

<p>
  <strong>Reviso estado pasadores</strong>
  <%= @equipo.c5 %>
</p>

<p>
  <strong>Todos los espejos estan operativos</strong>
  <%= @equipo.c6 %>
</p>

<p>
  <strong>Cinturon de seguridad operativo</strong>
  <%= @equipo.c7 %>
</p>

<p>
  <strong>Neumaticos en buen estado</strong>
  <%= @equipo.c8 %>
</p>

<p>
  <strong>Funciona alarma de retroseso</strong>
  <%= @equipo.c9 %>
</p>

<p>
  <strong>Funciona bocina</strong>
  <%= @equipo.c10 %>
</p>

<p>
  <strong>Funciona luces</strong>
  <%= @equipo.c11 %>
</p>

<p>
  <strong>Revisó que no tenga alarmas</strong>
  <%= @equipo.c12 %>
</p>

<p>
  <strong>Se realizo engrase equipo</strong>
  <%= @equipo.c13 %>
</p>

<p>
  <strong>Parabrisas en perfecto estado</strong>
  <%= @equipo.c14 %>
</p>

<p>
  <strong>El equipo cuenta con pertiga</strong>
  <%= @equipo.c15 %>
</p>

<p>
  <strong>Exintor operativo</strong>
  <%= @equipo.c16 %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @equipo.comentarios %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
