
<%= simple_form_for(@trabajo) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <div class="row">
    <%= f.input :planta %>
    <%= f.input :ito %>
    <%= f.input :centro_costo %>
    <%= f.input :supervisor %>
  </div>

  <div class="row">
    <%= f.input :descripcion %>
    <%= f.input :avance %>
    <%= f.input :op %>
    <%= f.input :factura %>
  </div>

  <div class="row">
    <%= f.input :observaciones %>
  </div>

  <div class="row">
  <%= f.input :i1, label: false %>
  <%= f.input :v1, label: false %>
  </div>

  </div>
  <div class="row"><%= f.input :i2, label: false %> <%= f.input :v2, label: false %></div>
  <div class="row"><%= f.input :i3, label: false %> <%= f.input :v3, label: false %></div>
  <div class="row"><%= f.input :i4, label: false %> <%= f.input :v4, label: false %></div>
  <div class="row"><%= f.input :i5, label: false %> <%= f.input :v5, label: false %></div>
  <div class="row"><%= f.input :i6, label: false %> <%= f.input :v6, label: false %></div>
  <div class="row"><%= f.input :i7, label: false %> <%= f.input :v7, label: false %></div>
  <div class="row"><%= f.input :i8, label: false %> <%= f.input :v8, label: false %></div>
  <div class="row"><%= f.input :i9, label: false %> <%= f.input :v9, label: false %></div>
  <div class="row"><%= f.input :i10, label: false %> <%= f.input :v10, label: false %></div>
  <div class="row"><%= f.input :i11, label: false %> <%= f.input :v11, label: false %></div>
  <div class="row"><%= f.input :i12, label: false %> <%= f.input :v12, label: false %></div>
  <%= f.input :total %>

  <%= f.input :otros %>
  <%= f.input :fecha_termino %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
