
<%# <table id="myTable" class="table table-striped table-bordered shadow" cellspacing="0" width="100%"> %>

 <table id="myTable" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Planta</th>
      <th>Solicita</th>
      <th>Descripcion</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Termino</th>
      <th>Op</th>
      <th>Factura</th>
      <th>CC</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @trabajos.each do |trabajo| %>
      <tr>
        <td><%= trabajo.id %></td>
        <td><%= trabajo.planta %></td>
        <td><%= trabajo.ito %></td>
        <td><%= trabajo.descripcion %></td>
        <td><%= number_to_currency(trabajo.total, delimiter: ".", precision: 0) %></td>
        <td><%= trabajo.avance %></td>
        <td><%= trabajo.fecha_termino %></td>
        <td><%= trabajo.op %></td>
        <td><%= trabajo.factura %></td>
        <td><%= trabajo.centro_costo %></td>



        <td class="text-center">
          <button type="button" class="btn btn-sm btn-secondary command-edit shadow p-1 rounded">
          <%= link_to "", trabajo, class: 'fa fa-eye fa-fw text-light'%>
          </button>
          <button type="button" class="btn btn-sm btn-success command-edit shadow p-1 rounded">
          <%= link_to "", edit_trabajo_path(trabajo), class: "fa fa-edit fa-fw text-light"%>
          </button>
          <!-- <% if current_user.superadmin_role? %>
          <button type="button" class="btn btn-sm btn-danger command-delete shadow p-1 rounded">
            <%= link_to "", trabajo, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-fw text-light" %>
          </button>
          <% end %> -->


          </td>

      </tr>
    <% end %>
  </tbody>

  <tfoot>
            <tr>
      <th>Id</th>
      <th>Planta</th>
      <th>Solicita</th>
      <th>Descripcion</th>
      <th>Total</th>
      <th>Termino</th>
      <th>Op</th>
      <th>Factura</th>
      <th>CC</th>
      <th>Acciones</th>


            </tr>
        </tfoot>
</table>

<br>

<%= link_to 'Crear cotización', new_trabajo_path, class: "btn btn-primary shadow" %>
