


  <div class="table-responsive shadow">
<table class="table table-striped table-bordered table-sm" id="myTable">
  <thead class="table-light">
    <tr>
      <th>Fecha</th>

      <!-- Silos principales -->
      <th>Silo 19a</th><th>Silo 19b</th>
      <th>Silo 20a</th><th>Silo 20b</th>
      <th>Silo 21a</th><th>Silo 21b</th>
      <th>Silo 22a</th><th>Silo 22b</th>
      <th>Silo 27</th><th>Silo 28</th>

      <!-- Producción básica -->
      <th>Especial sacos</th><th>Extra sacos</th>
      <th>Bigbag extra</th><th>Bigbag extra 1350</th>
      <th>Bigbag extra 1</th><th>Bigbag especial</th>
      <th>Bigbag super</th>
      <th>Prod. Haver</th><th>Prod. Vento</th>
      <th>Prod. Bigbag (prodbb)</th>

      <!-- Tolvas / Silos 3000 -->
      <th>Tolva Calle 5</th>
      <th>S3000 Tolva1</th><th>S3000 Tolva4</th><th>S3000 Tolva5</th>

      <!-- Silos Bigbag / Vento -->
      <th>Silos Bigbag1</th><th>Silos Bigbag2</th>
      <th>Silos Vento1</th><th>Silo Vento2</th><th>Silo Vento3</th>

      <!-- Calles -->
      <th>Calle Silo 28</th>
      <th>Calles Planta1</th>
      <th>Calle Silo 27</th>

      <!-- Observaciones -->
      <th>Observaciones</th>
      <th>Otros</th>

      <!-- Niveles -->
      <th>Ns28</th><th>Nbb1</th><th>Nbb2</th>
      <th>Nvento1</th><th>Nvento2</th><th>Nvento3</th>
      <th>Ns3000-1</th><th>Ns3000-2</th><th>Ns3000-3</th>
      <th>Nivel9</th>
      <th>Bigbag Plus</th>

      <!-- Silo 28 (C3-C5) -->
      <th>S28C3 Op</th><th>S28C3 Cemento</th><th>S28C3 Nota</th>
      <th>S28C4 Op</th><th>S28C4 Cemento</th><th>S28C4 Nota</th>
      <th>S28C5 Op</th><th>S28C5 Cemento</th><th>S28C5 Nota</th>

      <!-- Silo 27 -->
      <th>S27C6 Op</th>
      <th>S27C7 Cemento</th><th>S27C7 Nota</th>

      <!-- Silo 30 -->
      <th>S30C1 Op</th><th>S30C1 Cemento</th><th>S30C1 Nota</th>
      <th>S30C4 Op</th><th>S30C4 Cemento</th><th>S30C4 Nota</th>
      <th>S30C5 Op</th><th>S30C5 Cemento</th><th>S30C5 Nota</th>

      <!-- Plastificados -->
      <th>Plast. Especial</th>
      <th>Plast. Especial Soluble Completo</th>
      <th>Plast. Especial Lados</th>
      <th>Plast. Extra</th>
      <th>Plast. Extra Soluble Completo</th>
      <th>Plast. Extra Zunchos</th>
      <th>Plast. Especial Zunchos</th>

      <!-- Producción final -->
      <th>Especial Sacos</th><th>Especial Bigbag</th><th>Especial Granel</th>
      <th>Extra Sacos</th><th>Extra Bigbag</th><th>Extra Granel</th>
      <th>Super 3300</th><th>Super 4200</th>
      <th>Enjuagues Super</th><th>Enjuagues Super4</th>

      <!-- Turnos y Horas -->
      <th>Turno</th>
      <th>Horas Haver</th>
      <th>Horas Vento</th>
      <th>Horas Bigbag</th>

      <!-- Comentarios -->
      <th>Comentarios Haver</th>
      <th>Comentarios Vento</th>
      <th>Comentarios Bigbag</th>
      <% if user_signed_in? && current_user.email == "joseignaciojerez@gmail.com" %>
  <th>Acciones</th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <% @medidas.each do |m| %>
      <tr>
        <td><%= m.created_at.strftime("%d-%m-%Y") %></td>

        <!-- Silos -->
        <td><%= m.silo19a %></td><td><%= m.silo19b %></td>
        <td><%= m.silo20a %></td><td><%= m.silo20b %></td>
        <td><%= m.silo21a %></td><td><%= m.silo21b %></td>
        <td><%= m.silo22a %></td><td><%= m.silo22b %></td>
        <td><%= m.silo27 %></td><td><%= m.silo28 %></td>

        <!-- Producción -->
        <td><%= m.especialsacos %></td><td><%= m.extrsacos %></td>
        <td><%= m.bigbagextra %></td><td><%= m.bigbagextra1350 %></td>
        <td><%= m.bigbagextra1 %></td>
        <td><%= m.bigbagespecial %></td><td><%= m.bigbagsuper %></td>
        <td><%= m.prodhaver %></td><td><%= m.prodvento %></td>
        <td><%= m.prodbb %></td>

        <!-- Tolvas -->
        <td><%= m.tolvacalle5 %></td>
        <td><%= m.silos3000tolva1 %></td><td><%= m.silos3000tolva4 %></td><td><%= m.silos3000tolva5 %></td>

        <!-- Bigbag/Vento -->
        <td><%= m.silosbigbag1 %></td><td><%= m.silosbigbag2 %></td>
        <td><%= m.silosvento1 %></td><td><%= m.silovento2 %></td><td><%= m.silovento3 %></td>

        <!-- Calles -->
        <td><%= m.callesilo28 %></td><td><%= m.callesplanta1 %></td><td><%= m.callesilo27 %></td>

        <!-- Obs -->
        <td><%= m.observaciones %></td>
        <td><%= m.otros %></td>

        <!-- Niveles -->
        <td><%= m.ns28 %></td><td><%= m.nbb1 %></td><td><%= m.nbb2 %></td>
        <td><%= m.nvento1 %></td><td><%= m.nvento2 %></td><td><%= m.nvento3 %></td>
        <td><%= m.ns30001 %></td><td><%= m.ns30002 %></td><td><%= m.ns30003 %></td>
        <td><%= m.nivel9 %></td>
        <td><%= m.bigbagplus %></td>

        <!-- Silo 28 -->
        <td><%= m.s28c3op %></td><td><%= m.s28c3cemento %></td><td><%= m.s28c3nota %></td>
        <td><%= m.s28c4op %></td><td><%= m.s28c4cemento %></td><td><%= m.s28c4nota %></td>
        <td><%= m.s28c5op %></td><td><%= m.s28c5cemento %></td><td><%= m.s28c5nota %></td>

        <!-- Silo 27 -->
        <td><%= m.s27c6op %></td>
        <td><%= m.s27c7cemento %></td><td><%= m.s27c7nota %></td>

        <!-- Silo 30 -->
        <td><%= m.s30c1op %></td><td><%= m.s30c1cemento %></td><td><%= m.s30c1nota %></td>
        <td><%= m.s30c4op %></td><td><%= m.s30c4cemento %></td><td><%= m.s30c4nota %></td>
        <td><%= m.s30c5op %></td><td><%= m.s30c5cemento %></td><td><%= m.s30c5nota %></td>

        <!-- Plastificados -->
        <td><%= m.plastificado_especial %></td>
        <td><%= m.plastificado_especial_soluble_completo %></td>
        <td><%= m.plastificado_especial_lados %></td>
        <td><%= m.plastificado_extra %></td>
        <td><%= m.plastificado_extra_soluble_completo %></td>
        <td><%= m.plastificado_extra_zunchos %></td>
        <td><%= m.plastificado_especial_zunchos %></td>

        <!-- Producción final -->
        <td><%= m.especial_sacos %></td><td><%= m.especial_bigbag %></td><td><%= m.especial_granel %></td>
        <td><%= m.extra_sacos %></td><td><%= m.extra_bigbag %></td><td><%= m.extra_granel %></td>
        <td><%= m.super_3300_granel %></td><td><%= m.super_4200_granel %></td>
        <td><%= m.enjuagues_super %></td><td><%= m.enjuagues_super4 %></td>

        <!-- Turnos / Horas -->
        <td><%= m.turno %></td>
        <td><%= m.horas_haver %></td>
        <td><%= m.horas_vento %></td>
        <td><%= m.horas_bigbag %></td>

        <!-- Comentarios -->
        <td><%= m.comentarios_haver %></td>
        <td><%= m.comentarios_vento %></td>
        <td><%= m.comentarios_bigbag %></td>
        <% if user_signed_in? && current_user.email == "joseignaciojerez@gmail.com" %>
  <td>
    <%= link_to 'Editar', edit_medida_path(m), class: "btn btn-sm btn-warning" %>
    <%= link_to 'Eliminar', m,
          method: :delete,
          data: { confirm: "¿Seguro?" },
          class: "btn btn-sm btn-danger" %>
  </td>
<% end %>


      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>


<%= link_to 'New Medida', new_medida_path, class: "btn btn-primary shadow m-3" %>
