

<table id="myTable"
class="table table-responsive table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Silo 19a</th>
      <th>Silo 19b</th>
      <th>Silo 20a</th>
      <th>Silo 20b</th>
      <th>Silo 21a</th>
      <th>Silo 21b</th>
      <th>Silo 22a</th>
      <th>Silo 22b</th>
      <th>Silo 27</th>
      <th>Silo 28</th>
      <th>Especial sacos</th>
      <th>Extra sacos</th>
      <th>Bigbag extra</th>
      <th>Bigbag extra 1350</th>
      <th>Bigbag extra 1</th>
      <th>Bigbag especial</th>
      <th>Bigbag super</th>
      <th>Prod. haver</th>
      <th>Prod. vento</th>
      <th>Tolva calle5</th>
      <th>Silos 3000 tolva1</th>
      <th>Silos 3000 tolva4</th>
      <th>Silos 3000 tolva5</th>
      <th>Silos bigbag1</th>
      <th>Silos bigbag2</th>
      <th>Silos vento1</th>
      <th>Silov ento2</th>
      <th>Silov ento3</th>
      <th>Calle silo28</th>
      <th>Calles planta1</th>
      <th>Calle silo27</th>
      <th>Observaciones</th>
      <th>Silo 28 tolva calle 5</th>
      <th>Ns28</th>
      <th>Nbb1</th>
      <th>Nbb2</th>
      <th>Nvento1</th>
      <th>Nvento2</th>
      <th>Nvento3</th>
      <th>Nivel tolva 1</th>
      <th>Nivel tolva 4</th>
      <th>Nivel tolva 5</th>
      <th>Nivel9</th>
      <th>Bigbagplus</th>
      <th>Silo 28 Calle 3</th>
      <th>S28c3cemento</th>
      <th>S28c3nota</th>
      <th>Silo 28 Calle 4</th>
      <th>S28c4cemento</th>
      <th>S28c4nota</th>
      <th>Silo 28 Calle 5</th>
      <th>S28c5cemento</th>
      <th>S28c5nota</th>
      <th>Silo 27 Calle 6</th>
      <th>S27c7cemento</th>
      <th>S27c7nota</th>
      <th>S30c1op</th>
      <th>S30c1cemento</th>
      <th>S30c1nota</th>
      <th>Silos 3000 Calle 4</th>
      <th>S30c4cemento</th>
      <th>S30c4nota</th>
      <th>Silos 3000 Calle 5</th>
      <th>S30c5cemento</th>
      <th>S30c5nota</th>
      <th>Plastificado Especial</th>
      <th>Plastificado Especial Lados</th>
      <th>Plastificado Extra</th>
      <th>Plastificado Extra Zunchos</th>
      <th>Plastificado Especial Zunchos</th>
      <th>Especial Sacos</th>
      <th>Especial Bigbag</th>
      <th>Especial Granel</th>
      <th>Extra Sacos</th>
      <th>Extra Bigbag</th>
      <th>Extra Granel</th>
      <th>Super 3300 Granel</th>
      <th>Super 4200 Granel</th>
      <th>Enjuagues Super 3.300</th>
      <th>Enjuagues Super 4.2000</th>
    </tr>
  </thead>

  <tbody>
    <% @medidas.each do |medida| %>
      <tr>
        <td><%= medida.created_at.strftime("%m/%d/%y") %></td>
        <td><%= medida.silo19a %></td>
        <td><%= medida.silo19b %></td>
        <td><%= medida.silo20a %></td>
        <td><%= medida.silo20b %></td>
        <td><%= medida.silo21a %></td>
        <td><%= medida.silo21b %></td>
        <td><%= medida.silo22a %></td>
        <td><%= medida.silo22b %></td>
        <td><%= medida.silo27 %></td>
        <td><%= medida.silo28 %></td>
        <td><%= medida.especialsacos %></td>
        <td><%= medida.extrsacos %></td>
        <td><%= medida.bigbagextra %></td>
        <td><%= medida.bigbagextra1350 %></td>
        <td><%= medida.bigbagextra1 %></td>
        <td><%= medida.bigbagespecial %></td>
        <td><%= medida.bigbagsuper %></td>
        <td><%= medida.prodhaver %></td>
        <td><%= medida.prodvento %></td>
        <td><%= medida.tolvacalle5 %></td>
        <td><%= medida.silos3000tolva1 %></td>
        <td><%= medida.silos3000tolva4 %></td>
        <td><%= medida.silos3000tolva5 %></td>
        <td><%= medida.silosbigbag1 %></td>
        <td><%= medida.silosbigbag2 %></td>
        <td><%= medida.silosvento1 %></td>
        <td><%= medida.silovento2 %></td>
        <td><%= medida.silovento3 %></td>
        <td><%= medida.callesilo28 %></td>
        <td><%= medida.callesplanta1 %></td>
        <td><%= medida.callesilo27 %></td>
        <td><%= medida.observaciones %></td>
        <td><%= medida.otros %></td>
        <td><%= medida.ns28 %></td>
        <td><%= medida.nbb1 %></td>
        <td><%= medida.nbb2 %></td>
        <td><%= medida.nvento1 %></td>
        <td><%= medida.nvento2 %></td>
        <td><%= medida.nvento3 %></td>
        <td><%= medida.ns30001 %></td>
        <td><%= medida.ns30002 %></td>
        <td><%= medida.ns30003 %></td>
        <td><%= medida.nivel9 %></td>
        <td><%= medida.bigbagplus %></td>
        <td><%= medida.s28c3op %></td>
        <td><%= medida.s28c3cemento %></td>
        <td><%= medida.s28c3nota %></td>
        <td><%= medida.s28c4op %></td>
        <td><%= medida.s28c4cemento %></td>
        <td><%= medida.s28c4nota %></td>
        <td><%= medida.s28c5op %></td>
        <td><%= medida.s28c5cemento %></td>
        <td><%= medida.s28c5nota %></td>
        <td><%= medida.s27c6op %></td>
        <td><%= medida.s27c7cemento %></td>
        <td><%= medida.s27c7nota %></td>
        <td><%= medida.s30c1op %></td>
        <td><%= medida.s30c1cemento %></td>
        <td><%= medida.s30c1nota %></td>
        <td><%= medida.s30c4op %></td>
        <td><%= medida.s30c4cemento %></td>
        <td><%= medida.s30c4nota %></td>
        <td><%= medida.s30c5op %></td>
        <td><%= medida.s30c5cemento %></td>
        <td><%= medida.s30c5nota %></td>
        <td><%= medida.plastificado_especial %></td>
        <td><%= medida.plastificado_especial_lados %></td>
        <td><%= medida.plastificado_extra %></td>
        <td><%= medida.plastificado_extra_zunchos %></td>
        <td><%= medida.plastificado_especial_zunchos %></td>
        <td><%= medida.especial_sacos %></td>
        <td><%= medida.especial_bigbag %></td>
        <td><%= medida.especial_granel %></td>
        <td><%= medida.extra_sacos %></td>
        <td><%= medida.extra_bigbag %></td>
        <td><%= medida.extra_granel %></td>
        <td><%= medida.super_3300_granel %></td>
        <td><%= medida.super_4200_granel %></td>
        <td><%= medida.enjuagues_super %></td>
        <td><%= medida.enjuagues_super4 %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Medida', new_medida_path, class: "btn btn-primary shadow m-3" %>
