<p id="notice"><%= notice %></p>

<p>
  <strong>Silo19a:</strong>
  <%= @medida.silo19a %>
</p>

<p>
  <strong>Silo19b:</strong>
  <%= @medida.silo19b %>
</p>

<p>
  <strong>Silo20a:</strong>
  <%= @medida.silo20a %>
</p>

<p>
  <strong>Silo20b:</strong>
  <%= @medida.silo20b %>
</p>

<p>
  <strong>Silo21a:</strong>
  <%= @medida.silo21a %>
</p>

<p>
  <strong>Silo21b:</strong>
  <%= @medida.silo21b %>
</p>

<p>
  <strong>Silo22a:</strong>
  <%= @medida.silo22a %>
</p>

<p>
  <strong>Silo22b:</strong>
  <%= @medida.silo22b %>
</p>

<p>
  <strong>Silo27:</strong>
  <%= @medida.silo27 %>
</p>

<p>
  <strong>Silo28:</strong>
  <%= @medida.silo28 %>
</p>

<p>
  <strong>Especialsacos:</strong>
  <%= @medida.especialsacos %>
</p>

<p>
  <strong>Extrsacos:</strong>
  <%= @medida.extrsacos %>
</p>

<p>
  <strong>Bigbagextra:</strong>
  <%= @medida.bigbagextra %>
</p>

<p>
  <strong>Bigbagextra1350:</strong>
  <%= @medida.bigbagextra1350 %>
</p>

<p>
  <strong>Bigbagextra1:</strong>
  <%= @medida.bigbagextra1 %>
</p>

<p>
  <strong>Bigbagespecial:</strong>
  <%= @medida.bigbagespecial %>
</p>

<p>
  <strong>Bigbagsuper:</strong>
  <%= @medida.bigbagsuper %>
</p>
<p>
  <strong>Bigbagplus:</strong>
  <%= @medida.bigbagplus %>
</p>

<p>
  <strong>Prodhaver:</strong>
  <%= @medida.prodhaver %>
</p>

<p>
  <strong>Prodvento:</strong>
  <%= @medida.prodvento %>
</p>

<p>
  <strong>Tolvacalle5:</strong>
  <%= @medida.tolvacalle5 %>
</p>

<p>
  <strong>Silos3000tolva1:</strong>
  <%= @medida.silos3000tolva1 %>
</p>

<p>
  <strong>Silos3000tolva4:</strong>
  <%= @medida.silos3000tolva4 %>
</p>

<p>
  <strong>Silos3000tolva5:</strong>
  <%= @medida.silos3000tolva5 %>
</p>

<p>
  <strong>Silosbigbag1:</strong>
  <%= @medida.silosbigbag1 %>
</p>

<p>
  <strong>Silosbigbag2:</strong>
  <%= @medida.silosbigbag2 %>
</p>

<p>
  <strong>Silosvento1:</strong>
  <%= @medida.silosvento1 %>
</p>

<p>
  <strong>Silovento2:</strong>
  <%= @medida.silovento2 %>
</p>

<p>
  <strong>Silovento3:</strong>
  <%= @medida.silovento3 %>
</p>

<p>
  <strong>Callesilo28:</strong>
  <%= @medida.callesilo28 %>
</p>

<p>
  <strong>Callesplanta1:</strong>
  <%= @medida.callesplanta1 %>
</p>

<p>
  <strong>Callesilo27:</strong>
  <%= @medida.callesilo27 %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @medida.observaciones %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @medida.otros %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.ns28 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nbb1 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nbb2 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nvento1 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nvento2 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nvento3 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.ns30001 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.ns30002 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.ns30003 %>
</p>
<p>
  <strong>Otros:</strong>
  <%= @medida.nivel9 %>
</p>


<%= link_to 'Edit', edit_medida_path(@medida) %> |
<%= link_to 'Back', medidas_path %>
