
<%= simple_form_for(@checklist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="col-md-4 mb-4 justify-center">

    <%= f.input :nombre %>
    <%= f.association :truck, label_method: :codigo, collection: Truck.order('codigo ASC') %>
    <%= f.input :operativo, collection: [ "Operativo", "Observaciones", "Fuera de servicio" ] %>
    <%= f.input :horometro %>
    <%= f.input :c1, label: 'Reviso nivel de aceite motor' %>
    <%= f.input :c2, label: 'Reviso nivel de aceite hidraulico' %>
    <%= f.input :c3, label: 'Reviso nivel de aceite transmición' %>
    <%= f.input :c4, label: 'Reviso nivel de liquido refrigerante' %>
    <%= f.input :c5, label: 'Reviso nivel de liquido limpia parabrizas' %>
    <%= f.input :c6, label: 'Reviso o cordino el engresa diario' %>
    <%= f.input :c7, label: 'Reviso el estado de filtro y valvula de aire' %>
    <%= f.input :c8, label: 'Reviso el filtro separador de combustible' %>
    <%= f.input :c9, label: 'Reviso el estado general del panel del radiador' %>
    <%= f.input :c10, label: 'Reviso el equipo en busqueda de fugas' %>
    <%= f.input :c11, label: 'Reviso el equipo en busqueda de pernos sueltos' %>
    <%= f.input :c12, label: 'Reviso el estado general de pasadores y pantografo' %>
    <%= f.input :c13, label: 'Realizo limpieza del ante filtro de motor' %>
    <%= f.input :c14, label: 'Consulto al operador por estado de luces' %>
    <%= f.input :c15, label: 'Consulto al operador por bocina y alarma de retroceso' %>
    <%= f.input :c16, label: 'Consulto al operador por posibles alarmas en panel' %>
    <%= f.input :c17, label: 'Consulto al operador por estado de freno del equipo' %>
    <%= f.input :c18, label: 'Consulto al operador por el estado de la direccion y marcha del equipo' %>
    <%= f.input :c19, label: 'Se encuentrar todos los articulos de limpieza en la cabina' %>
    <%= f.input :combustible, label: 'Combustible' %>
    <%= f.input :acmotor, label: 'Aceite motor Super 1400' %>
    <%= f.input :achidraulico, label: 'Aceite hidraulico HD10' %>
    <%= f.input :actrans, label: 'Aceite transmición 1340' %>
    <%= f.input :acatf, label: 'Aceite ATF 220' %>
    <%= f.input :acnuto, label: 'Aceite NUTOH46' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar Checklist", class: "btn-primary" %>
  </div>
<% end %>
