<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong>
  <%= @checklist.nombre %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @checklist.truck&.codigo %>
</p>

<p>
  <strong>Operativo:</strong>
  <%= @checklist.operativo %>
</p>

<p>
  <strong>Horometro:</strong>
  <%= @checklist.horometro %>
</p>

<p>
  <strong>Reviso nivel de aceite motor:</strong>
  <%= @checklist.c1 ? :Si : :No %>
</p>

<p>
  <strong>Reviso nivel de aceite hidraulico:</strong>
  <%= @checklist.c2 ? :Si : :No %>
</p>

<p>
  <strong>Reviso nivel de aceite transmición:</strong>
  <%= @checklist.c3 ? :Si : :No %>
</p>

<p>
  <strong>Reviso nivel de liquido refrigerante:</strong>
  <%= @checklist.c4 ? :Si : :No %>
</p>

<p>
  <strong>Reviso nivel de liquido limpia parabrizas:</strong>
  <%= @checklist.c5 ? :Si : :No %>
</p>

<p>
  <strong>Reviso o cordino el engresa diario:</strong>
  <%= @checklist.c6 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el estado de filtro y valvula de aire:</strong>
  <%= @checklist.c7 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el filtro separador de combustible:</strong>
  <%= @checklist.c8 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el estado general del panel del radiador:</strong>
  <%= @checklist.c9 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el equipo en busqueda de fugas:</strong>
  <%= @checklist.c10 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el equipo en busqueda de pernos sueltos:</strong>
  <%= @checklist.c11 ? :Si : :No %>
</p>

<p>
  <strong>Reviso el estado general de pasadores y pantografo:</strong>
  <%= @checklist.c12 ? :Si : :No %>
</p>

<p>
  <strong>Realizo limpieza del ante filtro de motor:</strong>
  <%= @checklist.c13 ? :Si : :No %>
</p>

<p>
  <strong>Consulto al operador por estado de luces:</strong>
  <%= @checklist.c14 ? :Si : :No %>
</p>

<p>
  <strong>Consulto al operador por bocina y alarma de retroceso:</strong>
  <%= @checklist.c15 ? :Si : :No %>
</p>

<p>
  <strong>Consulto al operador por posibles alarmas en panel:</strong>
  <%= @checklist.c16 ? :Si : :No %>
</p>

<p>
  <strong>Consulto al operador por estado de freno del equipo:</strong>
  <%= @checklist.c17 ? :Si : :No %>
</p>

<p>
  <strong>Consulto al operador por el estado de la direccion y marcha del equipo:</strong>
  <%= @checklist.c18 ? :Si : :No %>
</p>

<p>
  <strong>Se encuentrar todos los articulos de limpieza en la cabina:</strong>
  <%= @checklist.c19 ? :Si : :No %>
</p>

<p>
  <strong>Combustible:</strong>
  <%= @checklist.combustible %>
</p>

<p>
  <strong>Aceite motor Super 1400:</strong>
  <%= @checklist.acmotor %>
</p>

<p>
  <strong>Aceite hidraulico HD10:</strong>
  <%= @checklist.achidraulico %>
</p>

<p>
  <strong>Aceite transmición 1340:</strong>
  <%= @checklist.actrans %>
</p>

<p>
  <strong>Aceite ATF 220:</strong>
  <%= @checklist.acatf %>
</p>

<p>
  <strong>Aceite NUTOH46:</strong>
  <%= @checklist.acnuto %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
