<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th>OL01</th>
      <th>OL02</th>
      <th>OL09</th>
      <th>OL11</th>
      <th>EX01</th>
      <th>OK04</th>
      <th>OK05</th>
      <th>BBC19</th>
      <th>BBC20</th>
      <th>BRR19</th>
      <th>BRR21</th>
      <th>HQ22</th>
      <th>CA01</th>
      <th>HQ03</th>
      <th>HQ12</th>
      <th>HQ13</th>
      <th>HQ21</th>
      <th>HQ23</th>
      <th>HQ24</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.o11 %></td>
        <td><%= unit.o21 %></td>
        <td><%= unit.o31 %></td>
        <td><%= unit.o41 %></td>
        <td><%= unit.o51 %></td>
        <td><%= unit.o61 %></td>
        <td><%= unit.o71 %></td>
        <td><%= unit.o81 %></td>
        <td><%= unit.b11 %></td>
        <td><%= unit.b21 %></td>
        <td><%= unit.b31 %></td>
        <td><%= unit.b41 %></td>
        <td><%= unit.b51 %></td>
        <td><%= unit.b61 %></td>
        <td><%= unit.b71 %></td>
        <td><%= unit.h11 %></td>
        <td><%= unit.h21 %></td>
        <td><%= unit.h31 %></td>
        <td><%= unit.h41 %></td>
        <td><%= unit.h51 %></td>
        <td><%= unit.h61 %></td>
        <td><%= unit.h71 %></td>

        <td><%= unit.observaciones %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
