<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th>O11</th>
      <th>O12</th>
      <th>O13</th>
      <th>O14</th>
      <th>O15</th>
      <th>O16</th>
      <th>O17</th>
      <th>O18</th>
      <th>O21</th>
      <th>O22</th>
      <th>O23</th>
      <th>O24</th>
      <th>O25</th>
      <th>O26</th>
      <th>O27</th>
      <th>O28</th>
      <th>O31</th>
      <th>O32</th>
      <th>O33</th>
      <th>O34</th>
      <th>O35</th>
      <th>O36</th>
      <th>O37</th>
      <th>O38</th>
      <th>O41</th>
      <th>O42</th>
      <th>O43</th>
      <th>O44</th>
      <th>O45</th>
      <th>O46</th>
      <th>O47</th>
      <th>O48</th>
      <th>O51</th>
      <th>O52</th>
      <th>O53</th>
      <th>O54</th>
      <th>O55</th>
      <th>O56</th>
      <th>O57</th>
      <th>O58</th>
      <th>O61</th>
      <th>O62</th>
      <th>O63</th>
      <th>O64</th>
      <th>O65</th>
      <th>O66</th>
      <th>O67</th>
      <th>O68</th>
      <th>O71</th>
      <th>O72</th>
      <th>O73</th>
      <th>O74</th>
      <th>O75</th>
      <th>O76</th>
      <th>O77</th>
      <th>O78</th>
      <th>O81</th>
      <th>O82</th>
      <th>O83</th>
      <th>O84</th>
      <th>O85</th>
      <th>O86</th>
      <th>O87</th>
      <th>O88</th>
      <th>B11</th>
      <th>B12</th>
      <th>B13</th>
      <th>B14</th>
      <th>B15</th>
      <th>B16</th>
      <th>B17</th>
      <th>B18</th>
      <th>B21</th>
      <th>B22</th>
      <th>B23</th>
      <th>B24</th>
      <th>B25</th>
      <th>B26</th>
      <th>B27</th>
      <th>B28</th>
      <th>B31</th>
      <th>B32</th>
      <th>B33</th>
      <th>B34</th>
      <th>B35</th>
      <th>B36</th>
      <th>B37</th>
      <th>B38</th>
      <th>B41</th>
      <th>B42</th>
      <th>B43</th>
      <th>B44</th>
      <th>B45</th>
      <th>B46</th>
      <th>B47</th>
      <th>B48</th>
      <th>B51</th>
      <th>B52</th>
      <th>B53</th>
      <th>B54</th>
      <th>B55</th>
      <th>B56</th>
      <th>B57</th>
      <th>B58</th>
      <th>B61</th>
      <th>B62</th>
      <th>B63</th>
      <th>B64</th>
      <th>B65</th>
      <th>B66</th>
      <th>B67</th>
      <th>B68</th>
      <th>B71</th>
      <th>B72</th>
      <th>B73</th>
      <th>B74</th>
      <th>B75</th>
      <th>B76</th>
      <th>B77</th>
      <th>B78</th>
      <th>H11</th>
      <th>H12</th>
      <th>H13</th>
      <th>H14</th>
      <th>H15</th>
      <th>H16</th>
      <th>H17</th>
      <th>H18</th>
      <th>H21</th>
      <th>H22</th>
      <th>H23</th>
      <th>H24</th>
      <th>H25</th>
      <th>H26</th>
      <th>H27</th>
      <th>H28</th>
      <th>H31</th>
      <th>H32</th>
      <th>H33</th>
      <th>H34</th>
      <th>H35</th>
      <th>H36</th>
      <th>H37</th>
      <th>H38</th>
      <th>H41</th>
      <th>H42</th>
      <th>H43</th>
      <th>H44</th>
      <th>H45</th>
      <th>H46</th>
      <th>H47</th>
      <th>H48</th>
      <th>H51</th>
      <th>H52</th>
      <th>H53</th>
      <th>H54</th>
      <th>H55</th>
      <th>H56</th>
      <th>H57</th>
      <th>H58</th>
      <th>H61</th>
      <th>H62</th>
      <th>H63</th>
      <th>H64</th>
      <th>H65</th>
      <th>H66</th>
      <th>H67</th>
      <th>H68</th>
      <th>H71</th>
      <th>H72</th>
      <th>H73</th>
      <th>H74</th>
      <th>H75</th>
      <th>H76</th>
      <th>H77</th>
      <th>H78</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.o11 %></td>
        <td><%= unit.o12 %></td>
        <td><%= unit.o13 %></td>
        <td><%= unit.o14 %></td>
        <td><%= unit.o15 %></td>
        <td><%= unit.o16 %></td>
        <td><%= unit.o17 %></td>
        <td><%= unit.o18 %></td>
        <td><%= unit.o21 %></td>
        <td><%= unit.o22 %></td>
        <td><%= unit.o23 %></td>
        <td><%= unit.o24 %></td>
        <td><%= unit.o25 %></td>
        <td><%= unit.o26 %></td>
        <td><%= unit.o27 %></td>
        <td><%= unit.o28 %></td>
        <td><%= unit.o31 %></td>
        <td><%= unit.o32 %></td>
        <td><%= unit.o33 %></td>
        <td><%= unit.o34 %></td>
        <td><%= unit.o35 %></td>
        <td><%= unit.o36 %></td>
        <td><%= unit.o37 %></td>
        <td><%= unit.o38 %></td>
        <td><%= unit.o41 %></td>
        <td><%= unit.o42 %></td>
        <td><%= unit.o43 %></td>
        <td><%= unit.o44 %></td>
        <td><%= unit.o45 %></td>
        <td><%= unit.o46 %></td>
        <td><%= unit.o47 %></td>
        <td><%= unit.o48 %></td>
        <td><%= unit.o51 %></td>
        <td><%= unit.o52 %></td>
        <td><%= unit.o53 %></td>
        <td><%= unit.o54 %></td>
        <td><%= unit.o55 %></td>
        <td><%= unit.o56 %></td>
        <td><%= unit.o57 %></td>
        <td><%= unit.o58 %></td>
        <td><%= unit.o61 %></td>
        <td><%= unit.o62 %></td>
        <td><%= unit.o63 %></td>
        <td><%= unit.o64 %></td>
        <td><%= unit.o65 %></td>
        <td><%= unit.o66 %></td>
        <td><%= unit.o67 %></td>
        <td><%= unit.o68 %></td>
        <td><%= unit.o71 %></td>
        <td><%= unit.o72 %></td>
        <td><%= unit.o73 %></td>
        <td><%= unit.o74 %></td>
        <td><%= unit.o75 %></td>
        <td><%= unit.o76 %></td>
        <td><%= unit.o77 %></td>
        <td><%= unit.o78 %></td>
        <td><%= unit.o81 %></td>
        <td><%= unit.o82 %></td>
        <td><%= unit.o83 %></td>
        <td><%= unit.o84 %></td>
        <td><%= unit.o85 %></td>
        <td><%= unit.o86 %></td>
        <td><%= unit.o87 %></td>
        <td><%= unit.o88 %></td>
        <td><%= unit.b11 %></td>
        <td><%= unit.b12 %></td>
        <td><%= unit.b13 %></td>
        <td><%= unit.b14 %></td>
        <td><%= unit.b15 %></td>
        <td><%= unit.b16 %></td>
        <td><%= unit.b17 %></td>
        <td><%= unit.b18 %></td>
        <td><%= unit.b21 %></td>
        <td><%= unit.b22 %></td>
        <td><%= unit.b23 %></td>
        <td><%= unit.b24 %></td>
        <td><%= unit.b25 %></td>
        <td><%= unit.b26 %></td>
        <td><%= unit.b27 %></td>
        <td><%= unit.b28 %></td>
        <td><%= unit.b31 %></td>
        <td><%= unit.b32 %></td>
        <td><%= unit.b33 %></td>
        <td><%= unit.b34 %></td>
        <td><%= unit.b35 %></td>
        <td><%= unit.b36 %></td>
        <td><%= unit.b37 %></td>
        <td><%= unit.b38 %></td>
        <td><%= unit.b41 %></td>
        <td><%= unit.b42 %></td>
        <td><%= unit.b43 %></td>
        <td><%= unit.b44 %></td>
        <td><%= unit.b45 %></td>
        <td><%= unit.b46 %></td>
        <td><%= unit.b47 %></td>
        <td><%= unit.b48 %></td>
        <td><%= unit.b51 %></td>
        <td><%= unit.b52 %></td>
        <td><%= unit.b53 %></td>
        <td><%= unit.b54 %></td>
        <td><%= unit.b55 %></td>
        <td><%= unit.b56 %></td>
        <td><%= unit.b57 %></td>
        <td><%= unit.b58 %></td>
        <td><%= unit.b61 %></td>
        <td><%= unit.b62 %></td>
        <td><%= unit.b63 %></td>
        <td><%= unit.b64 %></td>
        <td><%= unit.b65 %></td>
        <td><%= unit.b66 %></td>
        <td><%= unit.b67 %></td>
        <td><%= unit.b68 %></td>
        <td><%= unit.b71 %></td>
        <td><%= unit.b72 %></td>
        <td><%= unit.b73 %></td>
        <td><%= unit.b74 %></td>
        <td><%= unit.b75 %></td>
        <td><%= unit.b76 %></td>
        <td><%= unit.b77 %></td>
        <td><%= unit.b78 %></td>
        <td><%= unit.h11 %></td>
        <td><%= unit.h12 %></td>
        <td><%= unit.h13 %></td>
        <td><%= unit.h14 %></td>
        <td><%= unit.h15 %></td>
        <td><%= unit.h16 %></td>
        <td><%= unit.h17 %></td>
        <td><%= unit.h18 %></td>
        <td><%= unit.h21 %></td>
        <td><%= unit.h22 %></td>
        <td><%= unit.h23 %></td>
        <td><%= unit.h24 %></td>
        <td><%= unit.h25 %></td>
        <td><%= unit.h26 %></td>
        <td><%= unit.h27 %></td>
        <td><%= unit.h28 %></td>
        <td><%= unit.h31 %></td>
        <td><%= unit.h32 %></td>
        <td><%= unit.h33 %></td>
        <td><%= unit.h34 %></td>
        <td><%= unit.h35 %></td>
        <td><%= unit.h36 %></td>
        <td><%= unit.h37 %></td>
        <td><%= unit.h38 %></td>
        <td><%= unit.h41 %></td>
        <td><%= unit.h42 %></td>
        <td><%= unit.h43 %></td>
        <td><%= unit.h44 %></td>
        <td><%= unit.h45 %></td>
        <td><%= unit.h46 %></td>
        <td><%= unit.h47 %></td>
        <td><%= unit.h48 %></td>
        <td><%= unit.h51 %></td>
        <td><%= unit.h52 %></td>
        <td><%= unit.h53 %></td>
        <td><%= unit.h54 %></td>
        <td><%= unit.h55 %></td>
        <td><%= unit.h56 %></td>
        <td><%= unit.h57 %></td>
        <td><%= unit.h58 %></td>
        <td><%= unit.h61 %></td>
        <td><%= unit.h62 %></td>
        <td><%= unit.h63 %></td>
        <td><%= unit.h64 %></td>
        <td><%= unit.h65 %></td>
        <td><%= unit.h66 %></td>
        <td><%= unit.h67 %></td>
        <td><%= unit.h68 %></td>
        <td><%= unit.h71 %></td>
        <td><%= unit.h72 %></td>
        <td><%= unit.h73 %></td>
        <td><%= unit.h74 %></td>
        <td><%= unit.h75 %></td>
        <td><%= unit.h76 %></td>
        <td><%= unit.h77 %></td>
        <td><%= unit.h78 %></td>
        <td><%= unit.observaciones %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
