<p id="notice"><%= notice %>


<div class="card-deck">
<div class="card shadow">

<table id="" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
      <th>Equipo</th>
      <th>Estado</th>
      <th>Estructural</th>
      <th>Motor</th>
      <th>Transmisión</th>
      <th>Hidraulico</th>
      <th>Electrico</th>
    </tr>
  </thead>

  <tbody>

          <td>OL01</td>
          <td><%= @unit.o11 %></td>
          <td><%= @unit.o12 %></td>
          <td><%= @unit.o13 %></td>
          <td><%= @unit.o14 %></td>
          <td><%= @unit.o15 %></td>
          <td><%= @unit.o16 %></td>
        </tr>
          <td>OL02</td>
          <td><%= @unit.o21 %></td>
          <td><%= @unit.o22 %></td>
          <td><%= @unit.o23 %></td>
          <td><%= @unit.o24 %></td>
          <td><%= @unit.o25 %></td>
          <td><%= @unit.o26 %></td>
        </tr>
          <td>OL09</td>
          <td><%= @unit.o31 %></td>
          <td><%= @unit.o32 %></td>
          <td><%= @unit.o33 %></td>
          <td><%= @unit.o34 %></td>
          <td><%= @unit.o35 %></td>
          <td><%= @unit.o36 %></td>
        </tr>
          <td>OL11</td>
          <td><%= @unit.o41 %></td>
          <td><%= @unit.o42 %></td>
          <td><%= @unit.o43 %></td>
          <td><%= @unit.o44 %></td>
          <td><%= @unit.o45 %></td>
          <td><%= @unit.o46 %></td>
        </tr>
          <td>EX01</td>
          <td><%= @unit.o51 %></td>
          <td><%= @unit.o52 %></td>
          <td><%= @unit.o53 %></td>
          <td><%= @unit.o54 %></td>
          <td><%= @unit.o55 %></td>
          <td><%= @unit.o56 %></td>
        </tr>
          <td>OK04</td>
          <td><%= @unit.o61 %></td>
          <td><%= @unit.o62 %></td>
          <td><%= @unit.o63 %></td>
          <td><%= @unit.o64 %></td>
          <td><%= @unit.o65 %></td>
          <td><%= @unit.o66 %></td>
        </tr>

          <td>OK05</td>
          <td><%= @unit.o71 %></td>
          <td><%= @unit.o72 %></td>
          <td><%= @unit.o73 %></td>
          <td><%= @unit.o74 %></td>
          <td><%= @unit.o75 %></td>
          <td><%= @unit.o76 %></td>
        </tr>

          <td>BBC19</td>
          <td><%= @unit.b11 %></td>
          <td><%= @unit.b12 %></td>
          <td><%= @unit.b13 %></td>
          <td><%= @unit.b14 %></td>
          <td><%= @unit.b15 %></td>
          <td><%= @unit.b16 %></td>
        </tr>

          <td>BBC20</td>
          <td><%= @unit.b21 %></td>
          <td><%= @unit.b22 %></td>
          <td><%= @unit.b23 %></td>
          <td><%= @unit.b24 %></td>
          <td><%= @unit.b25 %></td>
          <td><%= @unit.b26 %></td>
        </tr>

          <td>BRR19</td>
          <td><%= @unit.b31 %></td>
          <td><%= @unit.b32 %></td>
          <td><%= @unit.b33 %></td>
          <td><%= @unit.b34 %></td>
          <td><%= @unit.b35 %></td>
          <td><%= @unit.b36 %></td>
        </tr>

          <td>BRR21</td>
          <td><%= @unit.b41 %></td>
          <td><%= @unit.b42 %></td>
          <td><%= @unit.b43 %></td>
          <td><%= @unit.b44 %></td>
          <td><%= @unit.b45 %></td>
          <td><%= @unit.b46 %></td>
        </tr>

          <td>HQ22</td>
          <td><%= @unit.b51 %></td>
          <td><%= @unit.b52 %></td>
          <td><%= @unit.b53 %></td>
          <td><%= @unit.b54 %></td>
          <td><%= @unit.b55 %></td>
          <td><%= @unit.b56 %></td>
        </tr>
        </tr>

          <td>CA01</td>
          <td><%= @unit.b61 %></td>
          <td><%= @unit.b62 %></td>
          <td><%= @unit.b63 %></td>
          <td><%= @unit.b64 %></td>
          <td><%= @unit.b65 %></td>
          <td><%= @unit.b66 %></td>
        </tr>
        </tr>
          <td>HQ03</td>
          <td><%= @unit.h11 %></td>
          <td><%= @unit.h12 %></td>
          <td><%= @unit.h13 %></td>
          <td><%= @unit.h14 %></td>
          <td><%= @unit.h15 %></td>
          <td><%= @unit.h16 %></td>
        </tr>

          <td>HQ12</td>
          <td><%= @unit.h21 %></td>
          <td><%= @unit.h22 %></td>
          <td><%= @unit.h23 %></td>
          <td><%= @unit.h24 %></td>
          <td><%= @unit.h25 %></td>
          <td><%= @unit.h26 %></td>
        </tr>

          <td>HQ13</td>
          <td><%= @unit.h31 %></td>
          <td><%= @unit.h32 %></td>
          <td><%= @unit.h33 %></td>
          <td><%= @unit.h34 %></td>
          <td><%= @unit.h35 %></td>
          <td><%= @unit.h36 %></td>
        </tr>

          <td>HQ21</td>
          <td><%= @unit.h41 %></td>
          <td><%= @unit.h42 %></td>
          <td><%= @unit.h43 %></td>
          <td><%= @unit.h44 %></td>
          <td><%= @unit.h45 %></td>
          <td><%= @unit.h46 %></td>
        </tr>

          <td>HQ23</td>
          <td><%= @unit.h51 %></td>
          <td><%= @unit.h52 %></td>
          <td><%= @unit.h53 %></td>
          <td><%= @unit.h54 %></td>
          <td><%= @unit.h55 %></td>
          <td><%= @unit.h56 %></td>
        </tr>

          <td>HQ24</td>
          <td><%= @unit.h61 %></td>
          <td><%= @unit.h62 %></td>
          <td><%= @unit.h63 %></td>
          <td><%= @unit.h64 %></td>
          <td><%= @unit.h65 %></td>
          <td><%= @unit.h66 %></td>
        </tr>

  </tbody>
</table>
<strong> Observaciones:</strong><br>
 <%= @unit.observaciones %>
</div>

</div>
<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
