<p id="notice"><%= notice %></p>

<p>
  <strong>O11:</strong>
  <%= @unit.o11 %>
</p>

<p>
  <strong>O12:</strong>
  <%= @unit.o12 %>
</p>

<p>
  <strong>O13:</strong>
  <%= @unit.o13 %>
</p>

<p>
  <strong>O14:</strong>
  <%= @unit.o14 %>
</p>

<p>
  <strong>O15:</strong>
  <%= @unit.o15 %>
</p>

<p>
  <strong>O16:</strong>
  <%= @unit.o16 %>
</p>

<p>
  <strong>O17:</strong>
  <%= @unit.o17 %>
</p>

<p>
  <strong>O18:</strong>
  <%= @unit.o18 %>
</p>

<p>
  <strong>O21:</strong>
  <%= @unit.o21 %>
</p>

<p>
  <strong>O22:</strong>
  <%= @unit.o22 %>
</p>

<p>
  <strong>O23:</strong>
  <%= @unit.o23 %>
</p>

<p>
  <strong>O24:</strong>
  <%= @unit.o24 %>
</p>

<p>
  <strong>O25:</strong>
  <%= @unit.o25 %>
</p>

<p>
  <strong>O26:</strong>
  <%= @unit.o26 %>
</p>

<p>
  <strong>O27:</strong>
  <%= @unit.o27 %>
</p>

<p>
  <strong>O28:</strong>
  <%= @unit.o28 %>
</p>

<p>
  <strong>O31:</strong>
  <%= @unit.o31 %>
</p>

<p>
  <strong>O32:</strong>
  <%= @unit.o32 %>
</p>

<p>
  <strong>O33:</strong>
  <%= @unit.o33 %>
</p>

<p>
  <strong>O34:</strong>
  <%= @unit.o34 %>
</p>

<p>
  <strong>O35:</strong>
  <%= @unit.o35 %>
</p>

<p>
  <strong>O36:</strong>
  <%= @unit.o36 %>
</p>

<p>
  <strong>O37:</strong>
  <%= @unit.o37 %>
</p>

<p>
  <strong>O38:</strong>
  <%= @unit.o38 %>
</p>

<p>
  <strong>O41:</strong>
  <%= @unit.o41 %>
</p>

<p>
  <strong>O42:</strong>
  <%= @unit.o42 %>
</p>

<p>
  <strong>O43:</strong>
  <%= @unit.o43 %>
</p>

<p>
  <strong>O44:</strong>
  <%= @unit.o44 %>
</p>

<p>
  <strong>O45:</strong>
  <%= @unit.o45 %>
</p>

<p>
  <strong>O46:</strong>
  <%= @unit.o46 %>
</p>

<p>
  <strong>O47:</strong>
  <%= @unit.o47 %>
</p>

<p>
  <strong>O48:</strong>
  <%= @unit.o48 %>
</p>

<p>
  <strong>O51:</strong>
  <%= @unit.o51 %>
</p>

<p>
  <strong>O52:</strong>
  <%= @unit.o52 %>
</p>

<p>
  <strong>O53:</strong>
  <%= @unit.o53 %>
</p>

<p>
  <strong>O54:</strong>
  <%= @unit.o54 %>
</p>

<p>
  <strong>O55:</strong>
  <%= @unit.o55 %>
</p>

<p>
  <strong>O56:</strong>
  <%= @unit.o56 %>
</p>

<p>
  <strong>O57:</strong>
  <%= @unit.o57 %>
</p>

<p>
  <strong>O58:</strong>
  <%= @unit.o58 %>
</p>

<p>
  <strong>O61:</strong>
  <%= @unit.o61 %>
</p>

<p>
  <strong>O62:</strong>
  <%= @unit.o62 %>
</p>

<p>
  <strong>O63:</strong>
  <%= @unit.o63 %>
</p>

<p>
  <strong>O64:</strong>
  <%= @unit.o64 %>
</p>

<p>
  <strong>O65:</strong>
  <%= @unit.o65 %>
</p>

<p>
  <strong>O66:</strong>
  <%= @unit.o66 %>
</p>

<p>
  <strong>O67:</strong>
  <%= @unit.o67 %>
</p>

<p>
  <strong>O68:</strong>
  <%= @unit.o68 %>
</p>

<p>
  <strong>O71:</strong>
  <%= @unit.o71 %>
</p>

<p>
  <strong>O72:</strong>
  <%= @unit.o72 %>
</p>

<p>
  <strong>O73:</strong>
  <%= @unit.o73 %>
</p>

<p>
  <strong>O74:</strong>
  <%= @unit.o74 %>
</p>

<p>
  <strong>O75:</strong>
  <%= @unit.o75 %>
</p>

<p>
  <strong>O76:</strong>
  <%= @unit.o76 %>
</p>

<p>
  <strong>O77:</strong>
  <%= @unit.o77 %>
</p>

<p>
  <strong>O78:</strong>
  <%= @unit.o78 %>
</p>

<p>
  <strong>O81:</strong>
  <%= @unit.o81 %>
</p>

<p>
  <strong>O82:</strong>
  <%= @unit.o82 %>
</p>

<p>
  <strong>O83:</strong>
  <%= @unit.o83 %>
</p>

<p>
  <strong>O84:</strong>
  <%= @unit.o84 %>
</p>

<p>
  <strong>O85:</strong>
  <%= @unit.o85 %>
</p>

<p>
  <strong>O86:</strong>
  <%= @unit.o86 %>
</p>

<p>
  <strong>O87:</strong>
  <%= @unit.o87 %>
</p>

<p>
  <strong>O88:</strong>
  <%= @unit.o88 %>
</p>

<p>
  <strong>B11:</strong>
  <%= @unit.b11 %>
</p>

<p>
  <strong>B12:</strong>
  <%= @unit.b12 %>
</p>

<p>
  <strong>B13:</strong>
  <%= @unit.b13 %>
</p>

<p>
  <strong>B14:</strong>
  <%= @unit.b14 %>
</p>

<p>
  <strong>B15:</strong>
  <%= @unit.b15 %>
</p>

<p>
  <strong>B16:</strong>
  <%= @unit.b16 %>
</p>

<p>
  <strong>B17:</strong>
  <%= @unit.b17 %>
</p>

<p>
  <strong>B18:</strong>
  <%= @unit.b18 %>
</p>

<p>
  <strong>B21:</strong>
  <%= @unit.b21 %>
</p>

<p>
  <strong>B22:</strong>
  <%= @unit.b22 %>
</p>

<p>
  <strong>B23:</strong>
  <%= @unit.b23 %>
</p>

<p>
  <strong>B24:</strong>
  <%= @unit.b24 %>
</p>

<p>
  <strong>B25:</strong>
  <%= @unit.b25 %>
</p>

<p>
  <strong>B26:</strong>
  <%= @unit.b26 %>
</p>

<p>
  <strong>B27:</strong>
  <%= @unit.b27 %>
</p>

<p>
  <strong>B28:</strong>
  <%= @unit.b28 %>
</p>

<p>
  <strong>B31:</strong>
  <%= @unit.b31 %>
</p>

<p>
  <strong>B32:</strong>
  <%= @unit.b32 %>
</p>

<p>
  <strong>B33:</strong>
  <%= @unit.b33 %>
</p>

<p>
  <strong>B34:</strong>
  <%= @unit.b34 %>
</p>

<p>
  <strong>B35:</strong>
  <%= @unit.b35 %>
</p>

<p>
  <strong>B36:</strong>
  <%= @unit.b36 %>
</p>

<p>
  <strong>B37:</strong>
  <%= @unit.b37 %>
</p>

<p>
  <strong>B38:</strong>
  <%= @unit.b38 %>
</p>

<p>
  <strong>B41:</strong>
  <%= @unit.b41 %>
</p>

<p>
  <strong>B42:</strong>
  <%= @unit.b42 %>
</p>

<p>
  <strong>B43:</strong>
  <%= @unit.b43 %>
</p>

<p>
  <strong>B44:</strong>
  <%= @unit.b44 %>
</p>

<p>
  <strong>B45:</strong>
  <%= @unit.b45 %>
</p>

<p>
  <strong>B46:</strong>
  <%= @unit.b46 %>
</p>

<p>
  <strong>B47:</strong>
  <%= @unit.b47 %>
</p>

<p>
  <strong>B48:</strong>
  <%= @unit.b48 %>
</p>

<p>
  <strong>B51:</strong>
  <%= @unit.b51 %>
</p>

<p>
  <strong>B52:</strong>
  <%= @unit.b52 %>
</p>

<p>
  <strong>B53:</strong>
  <%= @unit.b53 %>
</p>

<p>
  <strong>B54:</strong>
  <%= @unit.b54 %>
</p>

<p>
  <strong>B55:</strong>
  <%= @unit.b55 %>
</p>

<p>
  <strong>B56:</strong>
  <%= @unit.b56 %>
</p>

<p>
  <strong>B57:</strong>
  <%= @unit.b57 %>
</p>

<p>
  <strong>B58:</strong>
  <%= @unit.b58 %>
</p>

<p>
  <strong>B61:</strong>
  <%= @unit.b61 %>
</p>

<p>
  <strong>B62:</strong>
  <%= @unit.b62 %>
</p>

<p>
  <strong>B63:</strong>
  <%= @unit.b63 %>
</p>

<p>
  <strong>B64:</strong>
  <%= @unit.b64 %>
</p>

<p>
  <strong>B65:</strong>
  <%= @unit.b65 %>
</p>

<p>
  <strong>B66:</strong>
  <%= @unit.b66 %>
</p>

<p>
  <strong>B67:</strong>
  <%= @unit.b67 %>
</p>

<p>
  <strong>B68:</strong>
  <%= @unit.b68 %>
</p>

<p>
  <strong>B71:</strong>
  <%= @unit.b71 %>
</p>

<p>
  <strong>B72:</strong>
  <%= @unit.b72 %>
</p>

<p>
  <strong>B73:</strong>
  <%= @unit.b73 %>
</p>

<p>
  <strong>B74:</strong>
  <%= @unit.b74 %>
</p>

<p>
  <strong>B75:</strong>
  <%= @unit.b75 %>
</p>

<p>
  <strong>B76:</strong>
  <%= @unit.b76 %>
</p>

<p>
  <strong>B77:</strong>
  <%= @unit.b77 %>
</p>

<p>
  <strong>B78:</strong>
  <%= @unit.b78 %>
</p>

<p>
  <strong>H11:</strong>
  <%= @unit.h11 %>
</p>

<p>
  <strong>H12:</strong>
  <%= @unit.h12 %>
</p>

<p>
  <strong>H13:</strong>
  <%= @unit.h13 %>
</p>

<p>
  <strong>H14:</strong>
  <%= @unit.h14 %>
</p>

<p>
  <strong>H15:</strong>
  <%= @unit.h15 %>
</p>

<p>
  <strong>H16:</strong>
  <%= @unit.h16 %>
</p>

<p>
  <strong>H17:</strong>
  <%= @unit.h17 %>
</p>

<p>
  <strong>H18:</strong>
  <%= @unit.h18 %>
</p>

<p>
  <strong>H21:</strong>
  <%= @unit.h21 %>
</p>

<p>
  <strong>H22:</strong>
  <%= @unit.h22 %>
</p>

<p>
  <strong>H23:</strong>
  <%= @unit.h23 %>
</p>

<p>
  <strong>H24:</strong>
  <%= @unit.h24 %>
</p>

<p>
  <strong>H25:</strong>
  <%= @unit.h25 %>
</p>

<p>
  <strong>H26:</strong>
  <%= @unit.h26 %>
</p>

<p>
  <strong>H27:</strong>
  <%= @unit.h27 %>
</p>

<p>
  <strong>H28:</strong>
  <%= @unit.h28 %>
</p>

<p>
  <strong>H31:</strong>
  <%= @unit.h31 %>
</p>

<p>
  <strong>H32:</strong>
  <%= @unit.h32 %>
</p>

<p>
  <strong>H33:</strong>
  <%= @unit.h33 %>
</p>

<p>
  <strong>H34:</strong>
  <%= @unit.h34 %>
</p>

<p>
  <strong>H35:</strong>
  <%= @unit.h35 %>
</p>

<p>
  <strong>H36:</strong>
  <%= @unit.h36 %>
</p>

<p>
  <strong>H37:</strong>
  <%= @unit.h37 %>
</p>

<p>
  <strong>H38:</strong>
  <%= @unit.h38 %>
</p>

<p>
  <strong>H41:</strong>
  <%= @unit.h41 %>
</p>

<p>
  <strong>H42:</strong>
  <%= @unit.h42 %>
</p>

<p>
  <strong>H43:</strong>
  <%= @unit.h43 %>
</p>

<p>
  <strong>H44:</strong>
  <%= @unit.h44 %>
</p>

<p>
  <strong>H45:</strong>
  <%= @unit.h45 %>
</p>

<p>
  <strong>H46:</strong>
  <%= @unit.h46 %>
</p>

<p>
  <strong>H47:</strong>
  <%= @unit.h47 %>
</p>

<p>
  <strong>H48:</strong>
  <%= @unit.h48 %>
</p>

<p>
  <strong>H51:</strong>
  <%= @unit.h51 %>
</p>

<p>
  <strong>H52:</strong>
  <%= @unit.h52 %>
</p>

<p>
  <strong>H53:</strong>
  <%= @unit.h53 %>
</p>

<p>
  <strong>H54:</strong>
  <%= @unit.h54 %>
</p>

<p>
  <strong>H55:</strong>
  <%= @unit.h55 %>
</p>

<p>
  <strong>H56:</strong>
  <%= @unit.h56 %>
</p>

<p>
  <strong>H57:</strong>
  <%= @unit.h57 %>
</p>

<p>
  <strong>H58:</strong>
  <%= @unit.h58 %>
</p>

<p>
  <strong>H61:</strong>
  <%= @unit.h61 %>
</p>

<p>
  <strong>H62:</strong>
  <%= @unit.h62 %>
</p>

<p>
  <strong>H63:</strong>
  <%= @unit.h63 %>
</p>

<p>
  <strong>H64:</strong>
  <%= @unit.h64 %>
</p>

<p>
  <strong>H65:</strong>
  <%= @unit.h65 %>
</p>

<p>
  <strong>H66:</strong>
  <%= @unit.h66 %>
</p>

<p>
  <strong>H67:</strong>
  <%= @unit.h67 %>
</p>

<p>
  <strong>H68:</strong>
  <%= @unit.h68 %>
</p>

<p>
  <strong>H71:</strong>
  <%= @unit.h71 %>
</p>

<p>
  <strong>H72:</strong>
  <%= @unit.h72 %>
</p>

<p>
  <strong>H73:</strong>
  <%= @unit.h73 %>
</p>

<p>
  <strong>H74:</strong>
  <%= @unit.h74 %>
</p>

<p>
  <strong>H75:</strong>
  <%= @unit.h75 %>
</p>

<p>
  <strong>H76:</strong>
  <%= @unit.h76 %>
</p>

<p>
  <strong>H77:</strong>
  <%= @unit.h77 %>
</p>

<p>
  <strong>H78:</strong>
  <%= @unit.h78 %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @unit.observaciones %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
