<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @barco.nombre %>
</p>

<p>
  <strong>Nave:</strong>
  <%= @barco.nave %>
</p>

<p>
  <strong>Barandas:</strong>
  <%= @barco.barandas %>
</p>

<p>
  <strong>Colectores:</strong>
  <%= @barco.colectores %>
</p>

<p>
  <strong>Vtolva1:</strong>
  <%= @barco.vtolva1 %>
</p>

<p>
  <strong>Vtolva2:</strong>
  <%= @barco.vtolva2 %>
</p>

<p>
  <strong>Al1:</strong>
  <%= @barco.al1 %>
</p>

<p>
  <strong>Al2:</strong>
  <%= @barco.al2 %>
</p>

<p>
  <strong>Compresorm:</strong>
  <%= @barco.compresorm %>
</p>

<p>
  <strong>Cabezalm:</strong>
  <%= @barco.cabezalm %>
</p>

<p>
  <strong>Cabezald:</strong>
  <%= @barco.cabezald %>
</p>

<p>
  <strong>Polines:</strong>
  <%= @barco.polines %>
</p>

<p>
  <strong>Redaire:</strong>
  <%= @barco.redaire %>
</p>

<p>
  <strong>Motoresbc03:</strong>
  <%= @barco.motoresbc03 %>
</p>

<p>
  <strong>Techotolva:</strong>
  <%= @barco.techotolva %>
</p>

<p>
  <strong>Greating:</strong>
  <%= @barco.greating %>
</p>

<p>
  <strong>Alumbrado:</strong>
  <%= @barco.alumbrado %>
</p>

<p>
  <strong>Caseta:</strong>
  <%= @barco.caseta %>
</p>

<p>
  <strong>Ccmmuelle:</strong>
  <%= @barco.ccmmuelle %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @barco.numero %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @barco.observaciones %>
</p>


<%= link_to 'Edit', edit_barco_path(@barco) %> |
<%= link_to 'Back', barcos_path %>
