<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table id="myTable" class="table table-responsive table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Especial sacos</th>
      <th>Extra sacos</th>
      <th>Especial soluble</th>
      <th>Extra soluble</th>
      <th>Bb especial</th>
      <th>Bb extra</th>
      <th>Prod esp sacos</th>
      <th>Prod extra sacos</th>
      <th>Prod extra soluble</th>
      <th>Prod esp bb</th>
      <th>Prod extra bb</th>
      <th>Envases esp</th>
      <th>Envases ext</th>
      <th>Envases bb</th>
      <th>Pallets buenos</th>
      <th>Muestra pallets</th>
      <th>Humedad promedio</th>
      <th>Bobinas</th>
      <th>Observaciones</th>

    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
         <td><%= report&.created_at&.strftime("%d-%m-%y") %></td>
        <td><%= report.especial_sacos %></td>
        <td><%= report.extra_sacos %></td>
        <td><%= report.especial_soluble %></td>
        <td><%= report.extra_soluble %></td>
        <td><%= report.bb_especial %></td>
        <td><%= report.bb_extra %></td>
        <td><%= report.prod_esp_sacos %></td>
        <td><%= report.prod_extra_sacos %></td>
        <td><%= report.prod_extra_soluble %></td>
        <td><%= report.prod_esp_bb %></td>
        <td><%= report.prod_extra_bb %></td>
        <td><%= report.envases_esp %></td>
        <td><%= report.envases_ext %></td>
        <td><%= report.envases_bb %></td>
        <td><%= report.pallets_buenos %></td>
        <td><%= report.muestra_pallets %></td>
        <td><%= report.humedad_promedio %></td>
        <td><%= report.bobinas %></td>
        <td><%= report.observaciones %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo reporte', new_report_path, class: "btn btn-primary shadow m-3" %>
