<p id="notice"><%= notice %></p>

<p>
  <strong>Especial sacos:</strong>
  <%= @report.especial_sacos %>
</p>

<p>
  <strong>Extra sacos:</strong>
  <%= @report.extra_sacos %>
</p>

<p>
  <strong>Especial soluble:</strong>
  <%= @report.especial_soluble %>
</p>

<p>
  <strong>Extra soluble:</strong>
  <%= @report.extra_soluble %>
</p>

<p>
  <strong>Bb especial:</strong>
  <%= @report.bb_especial %>
</p>

<p>
  <strong>Bb extra:</strong>
  <%= @report.bb_extra %>
</p>

<p>
  <strong>Prod esp sacos:</strong>
  <%= @report.prod_esp_sacos %>
</p>

<p>
  <strong>Prod extra sacos:</strong>
  <%= @report.prod_extra_sacos %>
</p>

<p>
  <strong>Prod extra soluble:</strong>
  <%= @report.prod_extra_soluble %>
</p>

<p>
  <strong>Prod esp bb:</strong>
  <%= @report.prod_esp_bb %>
</p>

<p>
  <strong>Prod extra bb:</strong>
  <%= @report.prod_extra_bb %>
</p>

<p>
  <strong>Envases esp:</strong>
  <%= @report.envases_esp %>
</p>

<p>
  <strong>Envases ext:</strong>
  <%= @report.envases_ext %>
</p>

<p>
  <strong>Envases bb:</strong>
  <%= @report.envases_bb %>
</p>

<p>
  <strong>Pallets buenos:</strong>
  <%= @report.pallets_buenos %>
</p>

<p>
  <strong>Muestra pallets:</strong>
  <%= @report.muestra_pallets %>
</p>

<p>
  <strong>Humedad promedio:</strong>
  <%= @report.humedad_promedio %>
</p>

<p>
  <strong>Bobinas:</strong>
  <%= @report.bobinas %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @report.observaciones %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
