<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vtslimpieza.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @vtslimpieza.fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @vtslimpieza.turno %>
</p>

<p>
  <strong>Pesamatic:</strong>
  <%= @vtslimpieza.pesamatic %>
</p>

<p>
  <strong>Camarin:</strong>
  <%= @vtslimpieza.camarin %>
</p>

<p>
  <strong>Baño:</strong>
  <%= @vtslimpieza.baño %>
</p>

<p>
  <strong>Comedor:</strong>
  <%= @vtslimpieza.comedor %>
</p>

<p>
  <strong>Botoneras:</strong>
  <%= @vtslimpieza.botoneras %>
</p>

<p>
  <strong>Baranda:</strong>
  <%= @vtslimpieza.baranda %>
</p>

<p>
  <strong>Asiento:</strong>
  <%= @vtslimpieza.asiento %>
</p>

<p>
  <strong>Mesa computador:</strong>
  <%= @vtslimpieza.mesa_computador %>
</p>

<p>
  <strong>Mesa comedor:</strong>
  <%= @vtslimpieza.mesa_comedor %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @vtslimpieza.comentarios %>
</p>

<%= link_to 'Edit', edit_vtslimpieza_path(@vtslimpieza) %> |
<%= link_to 'Back', vtslimpiezas_path %>
